{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Liste des clients{% endblock %}

{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Clients
                <small>Voici la liste de vos clients</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Clients</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Nombre de clients</span>
                            <span class="info-box-number">{{ list|length }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_clients_add') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text"><strong>Ajouter un nouveau client</strong></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div>
            <div class="row">
                {% set nbclient = 0 %}
                {% set nbcolor = 0 %}
                {% set maxcolor = 6 %}
                {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                {% for client in list %}
                    {%  set nbclient = nbclient + 1 %}

                    <div class="col-md-4">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header  {{ color[nbcolor] }}">
                                <div class="widget-user-image">
                                    <img class="img-circle" src="{{ asset('bundles/billandgo/img/client.png') }}" alt="Client Avatar">
                                </div>
                                <!-- /.widget-user-image -->
                                <h3 class="widget-user-username"> {{ client.companyName }}</h3>
                                <h5 class="widget-user-desc">Client</h5>
                                <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_clients_view', {'id': client.id}) }}">
                                        Voir la fiche client
                                    </a></h5>

                            </div>
                            <div class="box-footer no-padding">
                                <div class="panel-body">
                                    <ul class="nav nav-pills nav-justified">
                                        <li class="active">
                                            <a data-toggle="tab" href="#cli-{{ nbclient }}-info">
                                                Infos
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#cli-{{ nbclient }}-doc">
                                                Docs/Projets
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#cli-{{ nbclient }}-con">
                                                Contacts
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="cli-{{ nbclient }}-info" class="tab-pane fade in active bg-info" >
                                            <ul>
                                                <li><strong>Adresse : {{ client.adress }}</strong></li>
                                                <li><strong>Code postal : {{ client.zipcode }}</strong></li>
                                                <li><strong>Ville & Pays : {{ client.city|capitalize }} {{ client.country|capitalize }}</strong></li>
                                            </ul>
                                        </div>
                                        <div id="cli-{{ nbclient }}-doc" class="tab-pane fade in bg-info">
                                            <p><strong>Oups! Cette fonctionnalité arrive bientôt...</strong> <!--A venir : lien vers chaque devis, projet et facture lié au client--> </p>
                                        </div>
                                        <div id="cli-{{ nbclient }}-con" class="tab-pane fade in bg-info">
                                            {% if client.contacts is empty %}
                                                <p><strong>Aucun contact enregistré</strong></p>
                                            {% else %}
                                                <table class="table table-striped">
                                                    <thead><tr>
                                                        <th>Email</th>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                    </tr></thead>
                                                    {% for contact in client.contacts %}
                                                        <tr>
                                                            <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                                                            <td>{{ contact.firstname }}</td>
                                                            <td>{{ contact.lastname }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    {%  set nbcolor = nbcolor + 1 %}
                    {% if nbcolor >= maxcolor %}
                        {%  set nbcolor = 0 %}
                        {% endif %}
                {% else %}
                    <div class="callout callout-info">
                        <h4>Aucun client enregistré </h4>
                        <p>Vous n'avez pas encore saisi de client</p>
                    </div>
                {% endfor %}
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock fos_user_content %}