{% extends "MyJobManagerBundle::base.html.twig" %}

{% block title %}{{ parent() }} - {{ client.companyName }}{% endblock %}

{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                CLIENTS
                <small>{{ client.companyName }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{{ path('myjobmanager_clients_list') }}"><i class="fa fa-users"></i> Clients</a></li>
                <li><a href="{{ path('myjobmanager_clients_view', {'id': client.id}) }}">{{ client.companyName }}</a></li>
                <li class="active"><i class="fa fa-plus"></i> Ajouter un contact</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2>{{ client.companyName }}</h2>
                    <h3>ajouter un contact</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ include("MyJobManagerBundle:Client:form.html.twig") }}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-left">
                        <a href="{{ path('myjobmanager_clients_view', {'id': client.id}) }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Retour à {{ client.companyName }}</a>
                        <a href="{{ path('myjobmanager_clients_list') }}" class="pull-right btn btn-info"><i class="fa fa-users"></i> Retour à la liste des clients</a>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}