{% trans_default_domain 'FOSUserBundle' %}
 {% set flash = app.flashes('error') %}

<div id="back"  {% if error is null  and flash|length < 1  %}style="display: none"{% endif %}>
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>
<h1 class="hide">Bill&Go, l'outil de gestion administratif dédié au développeur Freelance et auto-entrepreneur</h1>
<div id="slideBox"  {% if error is null and flash|length < 1 %}style="display: none"{% endif %}>
    <div class="topLayer">

       <div class="left">
            <div class="content">
            </div>
        </div>
        <div class="right">
            <div class="center-block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
            </div>
            <div class="content">

                <div class="login-box-body">
                    <p class="login-box-msg"><strong>Bienvenue sur Bill&Go</strong></p>
                    <p class="login-box-message"><small>Connectez-vous au service Bill&Go afin d'accéder à votre espace de travail</small></p>



                </div>
                {% for message in flash %}
                <div class="callout callout-danger">
                    {{ message|raw }}
                </div>
                {% endfor %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    {% if error %}
                        <div class="callout callout-danger">
                            <h4> Identifiants invalide </h4>
                        </div>
                    {% endif %}
                    <div class="form-group">

                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Identifiant"/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passse"/>
                    </div>
                    <button id="_submit" name="_submit">Connexion</button>
                </form>
                <div class="row">
                    <div class="col-xs-12 text-center a-padd">
                        <a href="{{ path('fos_user_resetting_request') }}" class="forgot-pass btn btn-outline"><small>Mot de passe oublié ?</small></a>
                        <a href="{{ path('fos_user_registration_register') }}" class="forgot-pass btn btn-outline"><small>S'incrire ?</small></a>
                        <button type="button" class="bg-black" onclick="location.href='/connect/github'"><i class="fa fa-github"></i> Connexion avec Github </button>
                    </div>
                </div>
            </div>

            <footer class="text-right login-footer">
                <br>
                <small>Copyright &copy; {{ "now"|date("Y") }} - Bill&Go. Tous droits réservés. Bill&Go est un produit <a href="https://www.iumio.com">iumio</a></small> - <a href="{{ path('billandgo_ml') }}" target="_blank">Mentions légales et Politiques de confidentialités</a>
            </footer>
        </div>

    </div>
</div>

<div class="wrapper"  {% if error or (flash|length > 0)  %} style="display: none;"{% endif %}>
    <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
        <div class="Grid-cell column1">
            <div class="center-block block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
                <h3 class="title">Vous êtes développeur en freelance ou auto-entrepreneur  ? <br> La gestion administrative vous tracasse ? <br>Bill&Go est fait pour vous</h3>
                <button type="button" onclick="location.href='{{ path('fos_user_registration_register') }}'">Je m'inscris</button>
            </div>
        </div>
        <div class="Grid-cell column2">
            <div class="center-block block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
                <h3 class="title">Vous avez déjà un compte sur Bill&Go ? <br>Connectez-vous dès maintenant <br> pour accéder à votre compte</h3>
                <button type="button" id="connectnow">Je me connecte</button>

            </div>
        </div>
    </div>
</div>
