{% trans_default_domain 'FOSUserBundle' %}
 {% set flash = app.flashes('error') %}

<div id="back"  {% if error is null  and flash|length < 1  %}style="display: none"{% endif %}>
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>
<h1 class="hide">Bill&Go, l'outil de gestion administratif dédié au développeur Freelance et auto-entrepreneur</h1>
<div id="slideBox"  {% if error is null and flash|length < 1 %}style="display: none"{% endif %}>
    <div class="topLayer">

       <div class="left">
            <div class="content">
            </div>
        </div>
        <div class="right">
            <div class="center-block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
            </div>
            <div class="content">

                <div class="login-box-body">
                    <p class="login-box-msg"><strong>Bienvenue sur Bill&Go</strong></p>
                    <p class="login-box-message"><small>Connectez-vous au service Bill&Go afin d'accéder à votre espace de travail</small></p>



                </div>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    {% if error and flash.type is not defined%}
                        <div class="callout callout-danger">
                            <h4> Identifiants invalide </h4>
                        </div>
                        {% elseif error and flash.type is defined%}
                        <script type="text/javascript">
                            function popup() {
                                location.href="#popup1"
                            }
                            window.onload = popup;
                        </script>
                    {% endif %}

                    <div class="form-group">

                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Identifiant"/>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passse"/>
                    </div>
                    <button id="_submit" name="_submit">Connexion</button>
                </form>
                <div class="row">
                    <div class="col-xs-12 text-center a-padd">
                        <a href="{{ path('fos_user_resetting_request') }}" class="forgot-pass btn btn-outline"><small>Mot de passe oublié ?</small></a>
                        <a href="{{ path('fos_user_registration_register') }}" class="forgot-pass btn btn-outline"><small>S'incrire ?</small></a>
                        <button type="button" class="bg-black" onclick="location.href='/connect/github'"><i class="fa fa-github"></i> Connexion avec Github </button>
                    </div>
                </div>
            </div>

            <footer class="text-right login-footer">
                <br>
                <small>Copyright &copy; {{ "now"|date("Y") }} - Bill&Go. Tous droits réservés. Bill&Go est un produit <a href="https://www.iumio.com">iumio</a></small> - <a href="{{ path('billandgo_ml') }}" target="_blank">Mentions légales et Politiques de confidentialités</a>
            </footer>
        </div>

    </div>
</div>

<div class="wrapper"  {% if error or (flash|length > 0)  %} style="display: none;"{% endif %}>
    <div class="Grid Grid--gutters Grid--cols-2 u-textCenter">
        <div class="Grid-cell column1">
            <div class="center-block block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
                <h3 class="title">Vous êtes développeur en freelance ou auto-entrepreneur  ? <br> La gestion administrative vous tracasse ? <br>Bill&Go est fait pour vous</h3>
                <button type="button" onclick="location.href='{{ path('fos_user_registration_register') }}'">Je m'inscris</button>
            </div>
        </div>
        <div class="Grid-cell column2">
            <div class="center-block block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
                <h3 class="title">Vous avez déjà un compte sur Bill&Go ? <br>Connectez-vous dès maintenant <br> pour accéder à votre compte</h3>
                <button type="button" id="connectnow">Je me connecte</button>

            </div>
        </div>
    </div>
</div>


<div class="popup1" id="popup1" {% if flash.type is not defined %}style="display: none" {% endif %}>
    <div class="popup1-inner">
        <div class="popup1__photo">
            <img src="{{ asset('bundles/billandgo/img/billandgo-3.jpg') }}" alt="">
        </div>
        <div class="popup1__text">
            <div class="formshowedText">
            <h4>Il existe déjà un compte avec cette e-mail :  {% if error and flash.type is defined%}<a href="mailto:{{ flash.email }}">{{ flash.email }}</a>{% endif %} <br> Si vous le souhaitez, vous pouvez l'associer avec votre compte github</h4>
            <h4>Souhaitez-vous associer votre compte ?</h4>

            <p><a href="#" class="button-great">Oui </a> <a href="#"class="btn btn-danger-edited">Non </a></p>
            </div>
           <div class="formshowed" style="display: none">
                <h4> Renseignez votre mot de passe pour le compte {% if error and flash.type is defined%}<a href="mailto:{{ flash.email }}">{{ flash.email }}</a>{% endif %}</h4>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group">

                        <input type="hidden" name="_username" value="{% if error and flash.type is defined%}{{ flash.email }}{% endif %}" required="required" class="form-control" placeholder="Identifiant"/>
                        <input type="hidden" name="_github_id" value="{% if error and flash.github_id is defined%}{{ flash.github_id }}{% endif %}" required="required" class="form-control" />
                        <input type="hidden" name="_access_token" value="{% if error and flash.access_token is defined%}{{ flash.access_token }}{% endif %}" required="required" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="password"  name="_password" required="required" class="form-control" placeholder="Mot de passse"/>
                    </div>
                    <button  name="_submit">Valider</button>
                    <button id="_back" name="back" class="btn-danger-edited">Annuler</button>
                </form>
           </div>
        </div>
    </div>
</div>