<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>
        {% block title %} Bill&Go - Connectez-vous au service Bill&GO {% endblock %}
    </title>
    <meta name="description" content="Outil web destiné aux freelances/ micro-entrepreneurs développeur afin de simplifier leur gestion administrative" />
    <meta name="keywords" content="Freelance, micro-entrepreneur, administratif, gestion administrative, temps, papier, compta, projets, devis, factures, taxes, iumio">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/billandgo/img/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/billandgo/img/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/billandgo/img/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ asset('bundles/billandgo/img/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ asset('bundles/billandgo/img/safari-pinned-tab.svg') }}" color="#f26941" />
    <link rel="shortcut icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="{{ asset('bundles/billandgo/img/browserconfig.xml') }}" />
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block stylesheets %}
        <link href="{{ asset('bundles/billandgo/assets/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/Ionicons/css/ionicons.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/iCheck/square/blue.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/_all-skins.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/style.css') }}" type="text/css" rel="stylesheet"/>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118804156-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118804156-2');
    </script>

</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="https://billandgo.fr">
        <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="200" >
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg"><strong>Hello</strong></p>
        <p class="login-box-message"><small>Connectez-vous au service Bill&Go afin d'accéder à votre espace de travail</small></p>

        {% block fos_user_content %}
            {{ include('FOSUserBundle:Security:login_content.html.twig') }}
        {% endblock fos_user_content %}

        <!--
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
                Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
                Google+</a>
        </div>
        <!-- /.social-auth-links -->
    </div>
    <hr>
    <div class="login-box-body">
        <p><small> Vous n'est pas inscrit au service Bill&Go ?</small></p>
        <div class="text-center btn btn-outline center-block"> <a href="{{ path('fos_user_registration_register') }}" class="text-center">Inscrivez-vous ici</a></div>
    </div>
    <!-- /.login-box-body -->
</div>


<footer class="text-right login-footer">
    <strong>Copyright &copy; {{ "now"|date("Y") }} - Bill&Go.</strong> All rights reserved. - <small>Bill&Go is an <a href="https://iumio.com">iumio component</a></small>
</footer>

{% block javascripts %}
    <script src="{{ asset('bundles/billandgo/assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script src="{{ asset('bundles/billandgo/js/script.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/iCheck/icheck.min.js') }}"></script>
{% endblock %}

</body>
</html>
