<html>
<head>
    <style>
                              table {
                                  width: 100%;
                                  color: #717375;
                                  font-family: helvetica;
                                  line-height: 5mm;
                                  border-collapse: collapse;
                              }
        h2 { margin: 0; padding: 0; }
        p { margin: 5px; }

        .border th {
            border: 1px solid #000;
            color: white;
            background: #000;
            padding: 5px;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
        }
        .border td {
            border: 1px solid #CFD1D2;
            padding: 5px 10px;
            text-align: center;
        }
        .no-border {
            border-right: 1px solid #CFD1D2;
            border-left: none;
            border-top: none;
            border-bottom: none;
        }
        .space { padding-top: 250px; }

        .10p { width: 10%; } .15p { width: 15%; }
        .25p { width: 25%; } .50p { width: 50%; }
        .60p { width: 60%; } .75p { width: 75%; }
    </style>
</head>

<body>
<!--mpdf
<htmlpageheader name="Pdf_template_header_1">

<table style="vertical-align: top;">
        <tr>
            <td class="75p">
                <strong>{{ selfCompanyName }}</strong><br />
                 {{ selfCompanyAdress }}<br />
                    {{ selfCompanyZipCode }} {{ selfCompanyCity }} <br>
                    {{ selfCompanyCountry }} <br>
                     {% if selfSiret is not null %}
                       <strong>SIRET:</strong>ffre {{ selfSiret }}<br />
                    {% endif %}
                {{ selfCompanyEmail }}
                  <br/>
                    <span style="font-family:dejavusanscondensed;">&#9742;</span> {{ selfCompanyTel }}
            </td>
            <td class="25p">
                <strong>{{  clientName }}</strong><br />
                  {{ clientAddress }}<br>
                            {{ clientZipCode }} {{ clientCity }}, {{ clientCountry }}
            </td>
        </tr>
    </table>
<br>

</htmlpageheader>
<htmlpagefooter name="Pdf_template_footer_1">
    <div class="htmlpgfooter">
       <strong> Page {PAGENO} of {nb} </strong><br>
        {% if false == selfPremium %}
        <p style="text-align:center"><small>Document généré par <a href="https://www.billandgo.fr">Bill&Go</a>, un produit <a href="https://www.iumio.com">iumio</a></smal></p>
        {% endif %}
    </div>
</htmlpagefooter>
<sethtmlpageheader name="Pdf_template_header_1" value="on" show-this-page="1" />
<sethtmlpagefooter name="Pdf_template_footer_1" value="on" />
mpdf-->
<div class="invoice-box">
    <hr>
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        {% if user.getCompanyLogoPath() is not null %}
                            <td class="title">
                                <img src="{{ selfCompanyLogo }}" style="width:100%; max-width:150px;">
                            </td>
                        {% endif %}

                        <td style="text-align: right">
                            {{ docType }} {{ docNumber }}<br>
                            Date: {{ sentDate }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <table style="margin-top: 30px;" class="border">
        <thead>
        <tr>
            <th class="60p">Description</th>
            <th class="10p">Quantité</th>
            <th class="15p">Prix Unitaire</th>
            <th class="15p">Montant</th>
        </tr>
        </thead>
        <tbody>


        {% for one in lines %}

            <tr>
                <td>{{ one.getName()  }} :  {{ one.getDescription() }}</td>
                <td>{{ one.getQuantity() }}</td>

                <td >{{ one.getPrice()  }}€</td>
                <td  >{{ one.getQuantity() * one.getPrice() }}€</td>
            </tr>

        {% endfor %}

        <tr>
            <td class="space"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2" class="no-border"></td>
            <td style="text-align: center;" rowspan="3"><strong>Total:</strong></td>
            <td>HT : {{ totalHT }} €</td>
        </tr>
        <tr>
            <td colspan="2" class="no-border"></td>
            <td>TVA ({{ tax }}) : {{ taxtotal }} €</td>
        </tr>
        <tr>
            <td colspan="2" class="no-border"></td>
            <td>TTC : {{ totalHT + taxtotal }} €</td>
        </tr>
        </tbody>
    </table>
    {% if document.isEstimate()  %}
        {% if user.getBanque() is not null and user.getIban() is not  null and user.getBic() is not  null %}
            <div style="text-align: left"><strong>Coordonnées bancaires : </strong><br> NOM BANQUE : {{ user.getBanque() }} <br> IBAN : {{ user.getIban() }}<br>BIC : {{ user.getBic() }}</div><br />
        {% endif %}
    {% endif %}
</div>
</body>
</html>

