{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>
        {% block title %} Bill&Go - Gérer efficacement votre administratif {% endblock %}
    </title>
    <meta name="description" content="Outil web destiné aux freelances/ micro-entrepreneurs développeur afin de simplifier leur gestion administrative" />
    <meta name="keywords" content="Freelance, micro-entrepreneur, administratif, gestion administrative, temps, papier, compta, projets, devis, factures, taxes, iumio">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/billandgo/img/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/billandgo/img/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/billandgo/img/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ asset('bundles/billandgo/img/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ asset('bundles/billandgo/img/safari-pinned-tab.svg') }}" color="#f26941" />
    <link rel="shortcut icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="{{ asset('bundles/billandgo/img/browserconfig.xml') }}" />
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}"/>

    <!-- CSS  -->
    {% block stylesheets %}
        <link href="{{ asset('bundles/billandgo/assets/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/Ionicons/css/ionicons.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/morris.js/morris.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/jvectormap/jquery-jvectormap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/bootstrap-daterangepicker/daterangepicker.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/assets/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/_all-skins.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/style.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/billandgo/css/common.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    {% block advanced_stylesheets %}
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118804156-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118804156-2');
    </script>

</head>
{% set status_jobtype_fr = {
"freelance" : "Freelance",
"self-entrepreneur" : "Micro-entrepreneur",
}
%}
<body class="hold-transition skin-blue sidebar-mini">
{% block loader %}
    <!--<div class="se-pre-con"> <h3 class="validform">Chargement de la page...</h3> </div>-->
    <div class ="se-pre-con centered">
        <div class = "blob-1"></div>
        <div class = "blob-2"></div>
    </div>
{% endblock %}

<div class="wrapper body-blur">
    <header class="main-header">
        <!-- Logo -->
        <div class="logo">
            <div class="row">

                <div class="col-md-12 text-left">
                    <ul class="list-side user-panel">
                        <li class="image inline-block-e">
                            <img class="img-circle" src="{% if user.getUserSkinPath() is null %}{{ asset('bundles/billandgo/img/default_user.png') }}{% else %}{{ '/uploads/user/avatar/'~user.getUserSkinPath()}} {% endif %}" />
                        </li>
                        <li class="name-side inline-block-e">
                           {% if user.firstname is not null and user.lastname is not null %} <small>{{ user.firstname|capitalize }} {{ user.lastname|capitalize }}</small>{% else %}<span style="font-size: 12px">{{ user.username }}</span>{% endif %}
                        </li>
                        {% if user.jobtype is not null %}
                            <li class="jobtype-side"><small>
                                {{status_jobtype_fr[user.jobtype]}}
                                </small>
                            </li>
                        {% endif %}
                        <li class="company-name-side"> <small>{{ user.companyName }}</small></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->

            <div class="row-fluid">
                <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                </div>
                <div class="col-md-4 text-center col-sm-4 col-xs-4">
                    <a href="{{ path("billandgo_dashboard") }}">
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150"/>
                    </a>
                </div>
                <div class="col-md-4 text-right col-sm-4 col-xs-4 col-menor-logout">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-outline btn-flat btn-logout">Se déconnecter</a>
                </div>
            </div>





                <!--<ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {#<li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user2-160x160.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user3-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user4-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user3-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user4-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that
                                            may not fit into the
                                            page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    #}



        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar ">
            <!-- search form -->
            <div class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Rechercher..." id="gb-search">
                </div>
            </div>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li>
                    <a href="{{ path('billandgo_dashboard') }}">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Clients</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('billandgo_clients_add') }}"><i class="fa fa-plus"></i> Nouveau client</a></li>
                        <li><a href="{{ path('billandgo_clients_list') }}"><i class="fa fa-list-alt"></i> Liste clients</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-text-o"></i>
                        <span>Devis</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('billandgo_document_add', {'step': 1, 'type': 'estimate'}) }}"><i class="fa fa-plus"></i> Nouveau Devis</a></li>
                        <li><a href="{{ path('billandgo_estimate_index') }}"><i class="fa fa-list-alt"></i> Liste Devis</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-industry"></i>
                        <span>Projets</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('billandgo_project_add') }}"><i class="fa fa-plus"></i> Nouveau Projet </a></li>
                        <li><a href="{{ path('billandgo_project_list') }}"><i class="fa fa-list-alt"></i> Liste Projets</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-briefcase"></i>
                        <span>Factures</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('billandgo_document_add', {'step': 1, 'type': 'bill'}) }}"><i class="fa fa-plus"></i> Nouvelle Facture</a></li>
                        <li><a href="{{ path('billandgo_bill_index') }}"><i class="fa fa-list-alt"></i> Liste Factures</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-eur"></i>
                        <span>Paiements</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('billandgo_paiment_add') }}"><i class="fa fa-plus"></i> Nouveau paiement</a></li>
                        <li><a href="{{ path('billandgo_paiment_index') }}"><i class="fa fa-list-alt"></i> Liste des paiements</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>Mon profil</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-eye"></i> Voir mon profil</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-edit"></i> Editer mon profil</a></li>
                    </ul>
                </li>
                <li >
                    <a href="{{ path('billandgo_parameters_show') }}">
                        <i class="fa fa-gears"></i>
                        <span>Mes paramètres</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                </li>
                <li>
                    <a href="{{ path('billandgo_organizer_show') }}">
                        <i class="fa fa-calendar"></i>
                        <span>Mon agenda</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
                {% if user.id == 1  %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                            <span>Admin</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('billandgo_tax_create') }}"><i class="fa fa-refresh"></i> Mettre à jour les taxes</a></li>
                            <li><a href="{{ path('billandgo_tax_index') }}"><i class="fa fa-legal"></i> Liste des taxes</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('billandgo_datas') }}">
                        <i class="fa fa-database"></i>
                        <span>Mes données</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
                <li class="">
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i>
                    <span>Se déconnecter</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>




    {% block fos_user_content %}

    {% endblock fos_user_content %}

    <footer class="main-footer">
        <small> <strong> Copyright &copy; {{ "now"|date("Y") }} - Bill&Go.</strong> Tous droits réservés. - <small>Bill&Go est un produit <a href="https://iumio.com">iumio</a></small> - <a href="{{ path('billandgo_ml') }}" target="_blank">Mentions légales et Politiques de confidentialités</a>
        <div class="pull hidden-xs">
           <b>Version</b> 1.7.0 SUN-SEVEN</div>
        </small>
    </footer>
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

    <div class="privacy-banner" style="border-top: 2px solid #f3624f; display: none;">
        <div>
            <p>
                Nous utilisons des cookies pour fournir et améliorer nos services. En utilisant notre site, vous acceptez les cookies.
                <a class="banner-accept" href="#" style="background: #f3624f">Accepter</a>
                <a class="banner-learn" href="{{ path('billandgo_ml') }}" target="_blank">Plus d'informations</a>
            </p>
        </div>
    </div>
</div>

<div id="search">
    <button type="button" class="close">×</button>
    <div>
        <input type="search" value="" placeholder="Tapez votre recherche" class="search_in_progress" url="{{ path("billandgo_search_global") }}"/>
    </div>
    <div class="row">
        <div class="col-md-12 results-search">

        </div>
    </div>
</div>
<!--  Scripts-->

{% block javascripts %}
    <script src="{{ asset('bundles/billandgo/assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementsByClassName("se-pre-con")[0].style.display = "none";
            $(".body-blur").removeClass("body-blur")
            //document.getElementsByClassName("body-blur").remove("body-blur");
        };

        var formatingDate  = function(date) {
            var type = 0;
            if ("undefined" !== typeof date.dateTime) {
                type = 1;
                date = new Date(date.dateTime);
            }
            else {
                date = new Date(date.date);
            }

            var monthNames = [
                "Janvier", "Février", "Mars",
                "Avril", "Mai", "Juin", "Juillet",
                "Août", "Septembre", "Octobre",
                "Novembre", "Décembre"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();

            if (1 === type) {
                var h = date.getHours();
                if (h < 10) {
                    h = '0' + h;
                }
                var i = date.getMinutes();
                if (i < 10) {
                    i = '0' + i;
                }
                var s = date.getSeconds();
                if (s < 10) {
                    s = '0' + s;
                }
                return day + ' ' + monthNames[monthIndex] + ' ' + year+ ' à '+ h+':'+i+':'+s;
            }
            else {
                return day + ' ' + monthNames[monthIndex] + '  ' + year;
            }
        };


        var formatingDate2  = function(date) {
            var type = 0;
            if ("undefined" !== typeof date.dateTime) {
                type = 1;
                date = new Date(date.dateTime);
            }
            else {
                date = new Date(date.date);
            }

            var day = date.getDate();
            if (day < 10) {
                day = '0' + day;
            }
            var monthIndex = date.getMonth() + 1;
            if (monthIndex < 10) {
                monthIndex = '0' + monthIndex;
            }
            var year = date.getFullYear();

            if (1 === type) {
                var h = date.getHours();
                if (h < 10) {
                    h = '0' + h;
                }
                var i = date.getMinutes();
                if (i < 10) {
                    i = '0' + i;
                }
                var s = date.getSeconds();
                if (s < 10) {
                    s = '0' + s;
                }
                //return (date.toUTCString());
                return ( day + '-'+(monthIndex) + year + 'T'+ h+':'+i+':'+s);
            }
            else {
                //return (date.toUTCString());
                return ( day + '-'+(monthIndex) +'-'+ year);
            }
        };


        $(function () {
            $('#gb-search').on('click', function(event) {
                event.preventDefault();
                $('#search').addClass('open');
                $("body").addClass("noscroll");
                $(this).attr("disabled", "disabled");
                $(".search_in_progress").val("");
                $(".search_in_progress").focus();
                $(".results-search").html("");
                $('#search > form > input[type="search"]').focus();
            });

            $('#search, #search button.close').on('click keyup', function(event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $("body").removeClass("noscroll");
                    $(this).removeClass('open');
                    $("#gb-search").removeAttr("disabled");
                }
            });

            /**
             * Returns a random number between min (inclusive) and max (exclusive)
             */
            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var timer = 0;
            var bg = ["primary", "green", "red", "black", "orange", "yellow", "purple"];
            function globalSearch (){
                var q =  $.trim($(".search_in_progress").val());
                if ("" !== q) {
                    $.ajax({
                        url : $(".search_in_progress").attr("url"),
                        type : 'POST',
                        data: {q : q},
                        success : function(data, statut){ // success est toujours en place, bien sûr !
                            var rs = data["results"];
                            if (null !== null || rs.length !== 0) {
                                var temp = "";
                                $.each(rs, function (index, value) {

                                    var rm = getRandomInt(0, 6);

                                    temp +=
                                        '    <div class="col-lg-3 col-xs-6 element-search targeted-element" ' +
                                        'onclick=\'location.href="'+value["url"]+'"\'>\n' +
                                        '                <!-- small box -->\n' +
                                        '                <div class="small-box bg-'+bg[rm]+'">\n' +
                                        '                    <div class="inner">\n' +
                                        '                        <h4><strong>'+value["name"]+'</strong></h4>\n' +
                                        '\n' +
                                        '                        <p>'+value["summary"]+'</p>\n' +
                                        '                    </div>\n' +
                                        '                    <div class="icon">\n' +
                                        '                        <i class="ion ion-search"></i>\n' +
                                        '                    </div>\n' +
                                        '                    <a href="'+value["url"]+'" class="small-box-footer">\n' +
                                        '                        Accéder <i class="fa fa-arrow-circle-right"></i>\n' +
                                        '                    </a>\n' +
                                        '                </div>\n' +
                                        '\n' +
                                        '            </div>';

                                })

                                $(".results-search").html(temp);
                            }
                        },

                        error : function(resultat, statut, erreur){

                        }

                    });
                }
                else {
                    $(".results-search").html("");
                }
                return false;
            }
            $(".search_in_progress").on('keyup', function(e){
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(globalSearch, 400);
            });

        });


    </script>
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{{ asset('bundles/billandgo/assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/morris.js/morris.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-knob/dist/jquery.knob.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/script.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/generatePdf.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/common.js') }}"></script>
    <script type="text/javascript">
        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["di", "lu", "ma", "me", "je", "ve", "sa"],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "yyyy/mm/dd"
            };

            $("#billandgobundle_line_save").on('click', function (e) {
                e.preventDefault();
                if ($("#billandgobundle_line_deadline").length) {
                    var elemcho = $("#billandgobundle_line_deadline").val();
                    var resDate = elemcho.split("/");
                    $("#billandgobundle_line_deadline").val(resDate[2]+"-"+resDate[1]+"-"+resDate[0]+" 00:00:00");

                }
                $(this).unbind("click").click();
            });
        }(jQuery));
    </script>

{% endblock %}
{% if usersub["plan"] == "paid" %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5af07ec15f7cdf4f0533ee81/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
{% endif %}

{% block advanced_javascripts %}
{% endblock %}
</body>
</html>
