{{ form_start(form, {'attr': {'class': ''}}) }}
{{ form_errors(form) }}
<div class="form-group row" id="document_modal_client">
    <div class="col-md-12">
        <h4>{{ form_label(form.refClient, "Client", {'label_attr': {'class': 'control-label'}}) }}</h4>
    </div>
    <div class="col-md-6">
        {{ form_errors(form.refClient) }}
        {{ form_widget(form.refClient, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        <span class="btn btn-success btn-outline" id="document_modal_client_ok">Suivant <i class="fa fa-arrow-right"></i> </span>
    </div>
</div>
<div id="document_form_second">
    <div class="form-group" id="document_modal_description">
        {{ form_label(form.description, "Description :", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group" id="document_modal_dates">
        {{ form_label(form.delayDate, "Valide jusqu'au  : ", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.delayDate) }}
        {{ form_widget(form.delayDate, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group" id="document_modal_submit">
        <span class="btn btn-danger btn-outline" id="document_modal_client_back"><i class="fa fa-arrow-left"></i> Précédent</span>
        {{ form_widget(form.save, {'label' : 'Créer le devis', 'attr': {'class': 'btn btn-success btn-outline'}}) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>