{% extends "BillAndGoBundle::base.html.twig" %}

{% if document.type %}
    {% set min_fr = "devis" %}
    {% set maj_fr = "Devis" %}
{% else %}
    {% set min_fr = "facture" %}
    {% set maj_fr = "Facture" %}
{% endif %}

{% set modify = (document.status == "draw") %}

{% block title %}{{ parent() }} - {{ maj_fr }} {{ document.number }}{% endblock %}

{%
set status_fr = {
    "draw" : "brouillon",
    "estimated" : "devisé",
    "accepted" : "accepté",
    "billed" : "facturé",
    "canceled" : "annulé",
    "refused" : "refusé",
    "partially" : "partiellement payé",
    "paid" : "payé",
    "" : "inconnu"
}
%}

{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span id="doc_type">{{ maj_fr }}</span>
                <small>
                    <span id="doc_number">{{ document.number }}</span><i> pour le client {{ document.refClient.companyName }}</i>
                </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>
                    {% if document.type %}
                        <a href="{{ path('billandgo_estimate_index') }}"><i class="fa fa-file-text-o"></i> {{ maj_fr }}</a>
                    {% else %}
                        <a href="{{ path('billandgo_bill_index') }}"><i class="fa fa-briefcase"></i> {{ maj_fr }}</a>
                    {% endif %}
                </li>
                <li class="active">{{ document.number }}</li>
            </ol>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                    {% if document.type %}
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_estimate_index') }}'">
                            <div class="info-box">
                                <span class="info-box-icon bg-black"><i class="fa fa-list"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Liste des devis</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_estimate_add') }}'">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Créer un devis</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" id="generatePDF" attr-num="{{ document.number|lower }}" attr-company="{{ document.refClient.companyName|lower }}">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-file-pdf-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Exporter en PDF</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                    {% else %}
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_bill_index') }}'">
                            <div class="info-box">
                                <span class="info-box-icon bg-black"><i class="fa fa-list"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Liste des factures</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_bill_add') }}'">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Créer une facture</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" id="generatePDF" attr-num="{{ document.number|lower }}" attr-companyname="{{ user.companyname }}">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-file-pdf-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><strong>Exporter en PDF</strong></span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->
                    {% endif %}
            </div>


            {% set client = document.refClient %}
            <div class="row">
                <div class="col-md-8">

                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-black">
                            <div class="widget-user-image" style="margin-top: -35px">
                                <i class="fa fa-info ppdashbboard fa-3x"></i>
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Informations</h3>
                            <h5 class="widget-user-desc">Descriptions, ...</h5>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><strong>Description : </strong> {{ document.description }}</li>
                                        <li><strong>Status : </strong> {{ status_fr[document.status]|capitalize }}</li>
                                        <li><strong>Montant {% if not document.type %}payé{% endif %} : </strong> {% if not document.type %}{{ document.sumPaiments }} € sur {% endif %}{{ document.getHT + document.VAT }} €</li>
                                        {% if document.sentDate %}
                                        <li><strong>Date d'envoi : </strong> {{ document.sentDate|date('d-m-Y') }}
                                                {% set diffSent = date(date()).diff(document.sentDate) %}
                                                {% set leftSent = diffSent.days %}
                                                <small class="color-grey">({{ leftSent }} jours)</small></li>

                                        {% endif %}
                                        {% if document.type == "estimate" %}
                                        {% if document.delayDate %}
                                        <li>
                                            <strong>Date de validité : </strong>  {{ document.delayDate|date('d-m-Y') }}
                                                {% set diffDelay = date(date()).diff(document.delayDate) %}
                                                {% set leftDelay = diffDelay.days %}
                                                <small class="color-grey">reste {{ leftDelay }} jours</small>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        {% if document.status == "accepted" %}
                                        <li>
                                            {% set diffAnswer = date(date()).diff(document.answerDate) %}
                                            {% set leftAnswer = diffAnswer.days %}
                                        <strong class="color-{{ document.status }}">Date de validation : </strong>
                                                    <span class="color-{{ document.status }}">{{ document.answerDate|date('d-m-Y') }}</span>

                                                    <small class="color-grey"> - il y a {{ leftAnswer }} jours</small>

                                        </li>
                                        {% elseif document.status == "refused" %}
                                        <li>
                                            {% set diffAnswer = date(date()).diff(document.answerDate) %}
                                            {% set leftAnswer = diffAnswer.days %}
                                            <strong class="color-{{ document.status }}">Date de refus : </strong>
                                                    <span class="color-{{ document.status }}">{{ document.answerDate|date('d-m-Y') }}</span>

                                                    <small class="color-grey">il y a {{ leftAnswer }} jours</small>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h4>Actions</h4>

                                        <div class="box-footer text-left">
                                            {% if modify %}
                                            <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#editModal">
                                                Modifier votre {{ min_fr }}
                                            </button>
                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center" id="exampleModalLabel">Modification de la facture {{ document.number }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="" method="post" class="text-center">
                                                                <div class="row">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="number">Numéro</label>
                                                                        <input type="text" name="number" value="{{ document.number }}" class="form-control">
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="description">Description</label>
                                                                        <textarea name="description" class="form-control">{{ document.description }}</textarea>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                        <input type="submit" value="Modifier" class="btn btn-success btn-outline">
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if not document.type %}
                                            <button type="button" class="btn btn-danger btn-outline" data-toggle="modal" data-target="#createPaimentModal">
                                                Créer un paiement
                                            </button>
                                            <div class="modal fade text-center" id="createPaimentModal" tabindex="-1" role="dialog" aria-labelledby="createPaimentModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="createPaimentModalLabel">Créer un paiement pour la facture {{ document.number }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <form method="post" action="{{ path('billandgo_paiment_add_from_bill', {'id' : document.id}) }}">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="project_name" class="col-form-label">Date</label>
                                                                            <input class="form-control datepick" type="text" value="{{ "now"|date("m/d/Y") }}" id="paimentDate" name="paimentDate">
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="project_deadline" class="col-form-label">Montant</label>
                                                                            <input class="form-control" type="number" step="0.01" name="paimentAmount" id="paimentAmount">
                                                                    </div>
                                                                    <div class="form-group col-md-6">

                                                                        <label for="project_deadline" class="col-form-label">Type de paiement</label>
                                                                        <select  name="paimentMode" class="form-control">
                                                                            <option value="cash">Espèces</option>
                                                                            <option value="cheque">Chèque</option>
                                                                            <option value="order">Virement bancaire</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group col-md-12">
                                                                    <button type="submit" class="btn btn-success btn-outline">Créer le paiment</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}


                                            {% if document.status == "refused" %}
                                                <div class="">
                                                    <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'draw'}) }}">Annuler devis</a>
                                                </div>
                                            {% elseif document.status == "canceled" %}
                                                <div class="">
                                                    {% if document.type %}
                                                        <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'draw'}) }}">Restaurer devis</a>
                                                    {% else %}
                                                        <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'draw'}) }}">Restaurer facture</a>
                                                    {% endif %}
                                                </div>
                                            {% elseif document.status == "estimated" %}

                                                    <div class="">
                                                        <a class="btn btn-success btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'accepted'}) }}">
                                                            Devis accepté
                                                        </a>
                                                    </div>
                                                    <div class="">
                                                        <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler devis</a>
                                                    </div>
                                                    <div class="">
                                                        <a class="btn btn-danger btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'refused'}) }}">Devis refusé</a>
                                                    </div>

                                            {% elseif document.status == "accepted" %}

                                                    <div class="">
                                                        <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createProjectModal">
                                                            Créer un projet
                                                        </button>
                                                    </div>
                                                        <div class="modal fade text-center" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="createProjectModalLabel">Créer un projet</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                            <form method="post" action="{{ path('billandgo_project_create_from_estimate', {'estimateID' : document.id}) }}">
                                                                                <div class="form-group row">
                                                                                    <label for="project_name" class="col-sm-3 col-form-label">Nom</label>
                                                                                    <div class="col-sm-9">
                                                                                        <input class="form-control" type="text" value="Entrez le nom du projet" id="project_name" name="name">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <label for="project_deadline" class="col-sm-3 col-form-label">Deadline</label>
                                                                                    <div class="col-sm-9">
                                                                                        <input class="form-control" type="text" name="deadline" id="project_deadline">
                                                                                    </div>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-success btn-outline">Créer le projet</button>
                                                                            </form>
                                                                        </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                <div class="">
                                                    <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler devis</a>

                                                </div>


                                                        <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createBillModal">
                                                            Créer une facture
                                                        </button>
                                                        <div class="modal fade text-center" id="createBillModal" tabindex="-1" role="dialog" aria-labelledby="createBillModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Créer une facture</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                            <form method="post" action="{{ path('billandgo_bill_create_from_estimate', {'estimate_id' : document.id}) }}">
                                                                                <div class="form-group">
                                                                                    <label for="bill_delay" class="form-label">Date de paiement</label>
                                                                                    <input id="bill_delay" name="delay" required="required" class="form-control" type="text">
                                                                                </div>
                                                                                <button type="submit" class="btn btn-success btn-outline">Créer la facture</button>
                                                                            </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                            {% elseif document.status == "billed" %}
                                                    <div class="">
                                                        <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler facture</a>
                                                    </div>
                                            {% elseif document.status == "partially" %}

                                            <div class="">
                                                        <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler facture</a>
                                            </div>
                                            {% elseif document.status == "paid" %}

                                                    <div class="">
                                                        <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler facture</a>
                                                    </div>
                                            {% elseif document.status == "draw" %}

                                            <div class=" ">
                                                        {% if document.type %}

                                                            <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'estimated'}) }}">Devis envoyé</a>
                                                        {% else %}
                                                            <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'billed'}) }}">Facture envoyée</a>
                                                        {% endif %}

                                            </div>
                                                <div class=" ">
                                                        {% if document.type %}
                                                            <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler devis</a>
                                                        {% else %}
                                                            <a class="btn btn-warning btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'canceled'}) }}">Annuler facture</a>
                                                        {% endif %}
                                                    </div>

                                            {% else %}
                                                <div class=" ">
                                                    {% if document.type %}
                                                        <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'draw'}) }}">Restaurer devis</a>
                                                    {% else %}
                                                        <a class="btn btn-info btn-outline" href="{{ path('billandgo_document_edit_status', {'id': document.id, 'status': 'draw'}) }}">Restaurer facture</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}


                                        </div>
                                </div>
                                <div class="col-md-12">
                                    {% if document.refPaiment|first %}
                                        <h4 class="text-left">Liste des paiements</h4>
                                        <table class="table table-striped">
                                            <thead>
                                            <th>Date</th>
                                            <th>Montant</th>
                                            <th>Action</th>
                                            </thead>
                                            <tbody>
                                            {% for paiment in document.refPaiment %}
                                                <tr>
                                                    <td>
                                                        {{ paiment.datePaiment|date('d-m-Y') }}
                                                    </td>
                                                    <td>
                                                        {{ paiment.amount }}
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('billandgo_paiment_show', { 'id': paiment.id }) }}">Voir le paiement</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}

                            </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.widget-user -->
                </div>

                <div class="col-md-4">
                    {{ include("BillAndGoBundle:Devis:fullclient.html.twig") }}
                </div>




                <div class="col-md-12">

                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-red">
                            <div class="widget-user-image" style="margin-top: -35px">
                                <i class="fa fa-info ppdashbboard fa-3x"></i>
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Lignes</h3>
                            <h5 class="widget-user-desc">Voici les lignes de votre {{ min_fr }}</h5>
                            <div class="box-tools pull-right ">
                                <button type="button" class="btn btn-box-tool billadngocollapse" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="lines">
                                        {% if document.type %}
                                            {% set lines = document.refLines %}
                                        {% else %}
                                            {% set lines = document.refLinesB %}
                                        {% endif %}
                                        {% set doc_id = document.id %}
                                        {{ include("BillAndGoBundle:document:linetab.html.twig") }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% if document.status == "accepted" %}
                        <div class="box-footer">

                            <div class="row">
                                <div class="col-sm-12 tohide">
                                    <h4><strong>Que souhaitez-vous faire ?</strong></h4>
                                </div>


                                    <div class="col-md-6">

                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createProjectLinesModal" id="transfoButton">
                                            1 . Transformer les lignes sélectionnées en projet
                                        </button>
                                        <div class="modal fade" id="createProjectLinesModal" tabindex="-1" role="dialog" aria-labelledby="createProjectLinesModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center" id="createProjectLinesModalLabel">Tranformation en projet</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{{ path('billandgo_project_create_from_lines') }}" id="createProject">
                                                            <input type="hidden" name="estimate" value="{{ document.id }}">
                                                            <div class="form-group">
                                                                <label class="control-label required" for="name">Nom du projet :</label>
                                                                <input class="form-control" type="text" name="name" value="{{ document.number }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label required" for="name">Description :</label>
                                                                <input class="form-control" type="text" name="description" value="{{ document.description }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label required" for="name">Délai :</label>
                                                                <input class="form-control datepick" type="text" name="deadline">
                                                            </div>
                                                            <div class="form-group text-right">
                                                                <input type="submit" class="btn btn-success btn-outline" value="Créer un projet">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createBillLinesModal" id="transfoButton2">
                                            2 . Transformer les lignes sélectionnées en facture
                                        </button>
                                        <div class="modal fade text-left" id="createBillLinesModal" tabindex="-1" role="dialog" aria-labelledby="createBillLinesModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center" id="createBillLinesModalLabel">Transformation en facture</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{{ path('billandgo_bill_create_from_lines') }}" id="createBill">
                                                            <input type="hidden" name="estimate" value="{{ document.id }}" />
                                                            <div class="form-group">
                                                                <label class="control-label required" for="name">Description :</label>
                                                                <input class="form-control" type="text" name="description" value="{{ document.description }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label required" for="name">Date limite de paiement :</label>
                                                                <input class="form-control datepick-bill" type="text" name="deadline">
                                                            </div>
                                                            <div class="form-group text-right">
                                                                <input type="submit" class="btn-success btn btn-outline" value="Tranformer en facture">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>

                            </div>
                        </div>
                        {% endif %}

                    </div>
                    <!-- /.widget-user -->
                </div>



            </div>






                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow" style="background: url('{{ asset('bundles/billandgo/img/bourse.jpg') }}') center center;">
                        <div class="widget-user-image" style="margin-top: -35px;">
                            <i class="fa fa-euro fa-3x ppdashbboard"></i>
                        </div>
                        <!-- /.widget-user-image -->
                        <h5 class="widget-user-username">Informations</h5>
                        <h5 class="widget-user-desc">Financières</h5>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-4 text-center br">
                                <h4>Total HT : <span id="totalHT" class="badge bg-green text-medium">{{ document.HT }}€</span></h4>
                            </div>

                            <div class="col-md-4 text-center br">
                                <h4>Total TTC : <span id="totalTTC" class="badge bg-green text-medium">{{ document.HT + document.VAT }}€</span></h4>
                            </div>

                            <div class="col-md-4 text-center">
                                <h4>Total TVA : <span class="badge bg-red text-medium">{{ document.VAT }}€</span></h4>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- /.widget-user -->
        </section>
    </div>

    <div id="user" style="display: none">
        <div class="firstname">{{ user.firstname }}</div>
        <div class="lastname">{{ user.lastname }}</div>
        <div class="companyname">{{ user.companyname }}</div>
        <div class="email">{{ user.email }}</div>
        <div class="adress">{{ user.address }}</div>
        <div class="zipcode">{{ user.zipcode }}</div>
        <div class="city">{{ user.city }}</div>
        <div class="country">{{ user.country }}</div>
        <div class="phone">{{ user.phone }}</div>
        <div class="mobile">{{ user.mobile }}</div>
        <div class="siret">{{ user.siret }}</div>
        <div class="plan">{{ user.plan }}</div>
        <div class="bank-name">{{ user.banque }}</div>
        <div class="iban">{{ user.iban }}</div>
        <div class="bic">{{ user.bic }}</div>
        <div class="date-pdf">{{ 'now'|date('d/m/Y') }}</div>
    </div>
    <div id="client" style="display: none">
        <div class="companyname">{{ document.refClient.companyname }}</div>
        <div class="adress">{{ document.refClient.adress }}</div>
        <div class="zipcode">{{ document.refClient.zipcode }}</div>
        <div class="city">{{ document.refClient.city }}</div>
        <div class="country">{{ document.refClient.country }}</div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset('bundles/billandgo/assets/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/generatePdf.js') }}"></script>
    <script>
        $('#billandgobundle_line_deadline').datepicker();
        $('#bill_creation').datepicker();
        $('#bill_paiment').datepicker();
        $('#project_deadline').datepicker();
        $('.datepick').datepicker();
        $("#transfoButton").hide();
        $("#transfoButton2").hide();
        linechecked = 0;
        $('.select-line').click(function(){
            if (this.checked) {
                $("#transfoButton").show();
                $("#transfoButton2").show();
                $(this).parent().children(".hidden").prop("checked", true);
                linechecked++;
                $(".tohide").show();
            }
            else {
                $(this).parent().children(".hidden").prop("checked", false);
                linechecked--;
                if (linechecked < 1) {
                    linechecked = 0;
                    $("#transfoButton").hide();
                    $("#transfoButton2").hide();
                    $(".tohide").hide();
                }
            }
        });
        nowDate = new Date();
        nowDate.setMonth((nowDate.getMonth() + 1)%12);
        delayDate = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, 0);
        $('#bill_delay').datepicker('setDate', delayDate);
        $('.datepick-bill').datepicker('setDate', delayDate);

        //autocomplete
        var names = [
            {% for elt in names %}
                "{{ elt.name }}",
            {% endfor %}
        ];
        var descriptions = [
            {% for elt in descriptions %}
            "{{ elt.description }}",
            {% endfor %}
        ];
        $("#billandgobundle_line_name").click(
            function() {
                $('#billandgobundle_line_name').autocomplete({
                    source: names
                });
            }
        );
        $("#billandgobundle_line_description").click(
            function() {
                $('#billandgobundle_line_description').autocomplete({
                    source: descriptions
                });
            }
        );

        var imgDoc = '{{ asset('uploads/user/company/'~user.getCompanyLogoPath ) }}';
    </script>
{% endblock %}
