{% extends "BillAndGoBundle::base.html.twig" %}

{% if type == 'estimate' %}
    {% set min_fr = "devis" %}
    {% set maj_fr = "Devis" %}
{% elseif type == 'bill' %}
    {% set min_fr = "facture" %}
    {% set maj_fr = "Facture" %}
{% endif %}

{% block title %}{{ parent() }} - Liste des {{ min_fr }}{% endblock %}

{%
set status_fr = {
"draw" : "brouillon",
"estimated" : "envoyé",
"sent" : "devisé",
"accepted" : "accepté",
"billed" : "facturé",
"canceled" : "annulé",
"refused" : "refusé",
"partially" : "partiellement payé",
"paid" : "payé",
"" : "inconnu"
}
%}


{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ maj_fr }}
                <small>Hello, Voici la liste de vos {{ min_fr }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-file-text-o"></i> {{ maj_fr }}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-file-text-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Nombre de {{ min_fr }}</span>
                            <span class="info-box-number">{{ list|length }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_estimate_add') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text"><strong>Créer  {% if type == 'estimate' %}un nouveau devis{% elseif type == 'bill' %}une nouvelle facture{% endif %}</strong></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                {% if user.plan == null and limitation == false %}
                    <div class="col-md-12 ">
                        <div class="callout callout-info">
                            <h5><i class="fa fa-info"></i> Vous utilisez actuellement de la version gratuite de Bill&Go et vous avez dépassé le quotat imposé. Si vous souhaitez profiter de fonctionnalités payantes et la suppression de ce message, Veuillez nous contacter <a href=" https://billandgo.fr/edition-premium/">ici</a></h5>
                        </div>
                    </div>
                {% endif %}
            </div>
            {# good #}
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Vos {{ maj_fr }} en cours</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="text-left">
                        Filtrer par :
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-success btn-outline" id="estimateFilterAll">Tous</button>
                            <button type="button" class="btn btn-default btn-success btn-outline" id="estimateFilterSent">Envoyés</button>
                            <button type="button" class="btn btn-default btn-success btn-outline" id="estimateFilterAccepted">Acceptés</button>
                        </div>
                    </div>
                    <hr>

                    <div class="row">

                        {% set nbdoc = 0 %}
                        {% set totalHT = 0 %}
                        {% set totalVat = 0 %}
                        {% set draws = [] %}
                        {% set transformed = [] %}
                        {% set canceled = [] %}
                        {% set nbd = 0 %}
                        {% set nbcolor = 0 %}
                        {% set maxcolor = 6 %}
                        {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                        {% for doc in list %}
                            {% if doc.status == "draw" %}
                                {% set draws = draws|merge([doc]) %}
                            {% elseif (doc.status == "canceled" or doc.status == "refused") %}
                                {% set canceled = canceled|merge([doc]) %}
                            {% elseif doc.areLinesTransformed %}
                                {% set transformed = transformed|merge([doc]) %}
                            {% else %}
                                {% set totalHT = totalHT + doc.HT %}
                                {% set totalVat = totalVat + doc.VAT %}
                                {% set nbdoc = nbdoc + 1 %}







                            {%  set nbd = nbd + 1 %}

                            <div class="col-md-4 estimate-{{ doc.status }}">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header  {{ color[nbcolor] }}">
                                        <div class="widget-user-image">
                                            <span class="img-circle"><i class="fa fa-file-o fa-3x ppdashbboard" ></i> </span>
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username"> {{ doc.number }} </h3>
                                        <h5 class="widget-user-desc">Status : <strong> {{ status_fr[doc.status]|lower }}</strong></h5>
                                        <h5 class="widget-user-desc"> Client :  <a href="{{ path('billandgo_clients_view', {'id': doc.refClient.id}) }}" class="white-color">{{ doc.refClient.companyName }}</a></h5>
                                        <h5 class="widget-user-desc">Total : <strong>  {{ doc.HT + doc.VAT }}€ TTC</strong></h5>
                                        <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_document_view', {'id': doc.id}) }}">
                                                Voir le {{ min_fr }}
                                            </a></h5>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-info">
                                                        Infos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-doc">
                                                       Description
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-con">
                                                       Total
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="cli-{{ doc.number }}-info" class="tab-pane fade in active bg-info" >

                                                    <ul>
                                                        <li><strong>Date d'envoi :</strong> {{ doc.sentDate|date('d-m-Y') }} </li>
                                                        <li><strong>Date de validité :</strong> {{ doc.delayDate|date('d-m-Y') }} </li>
                                                    </ul>

                                                    <div class="row">
                                                        {% if doc.status == "estimated" %}
                                                            <div class="col-sm-6 text-left">
                                                                <a class="btn btn-success btn-outline" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'accepted'}) }}">
                                                                    <i class="fa fa-envelope-open"></i> Accepter
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-6 text-right">
                                                                <a class="btn btn-danger btn-outline" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'refused'}) }}">
                                                                    <i class="fa fa-envelope-open"></i> Refuser
                                                                </a>
                                                            </div>
                                                        {% elseif doc.status == "accepted" %}
                                                            <div class="col-sm-6 text-left">
                                                                <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createProjectModal">
                                                                    <i class="fa fa-industry"></i> Créer un projet
                                                                </button>
                                                                <div class="modal fade text-center" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="createProjectModalLabel">Créer un projet</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="">
                                                                                    <form method="post" action="{{ path('billandgo_project_create_from_estimate', {'estimateID' : doc.id}) }}" class="form_project" attr-client="{{ doc.refClient.companyname }}">
                                                                                        <div class="form-group row">
                                                                                            <label for="project_name" class="col-sm-3 col-form-label">Nom</label>
                                                                                            <div class="col-sm-9">
                                                                                                <input class="form-control project_name" type="text" placeholder="Entrez le nom du projet" id="project_name" name="name">
                                                                                            </div>
                                                                                        </div>
                                                                                        <p style="display: none" class="pdesc">{{ doc.description }}</p>
                                                                                        <div class="form-group row">
                                                                                            <label for="project_deadline" class="col-sm-3 col-form-label">Deadline</label>
                                                                                            <div class="col-sm-9">
                                                                                                <input class="form-control project_deadline" type="text" name="deadline" id="project_deadline">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div ><small><strong><i class="fa fa-info"></i> La description sera créée à partir de celle du devis</strong></small></div>
                                                                                        <button type="submit" class="btn btn-success btn-outline">Créer le projet</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 text-right">
                                                                <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createBillModal">
                                                                    <i class="fa fa-briefcase"></i> Créer une facture
                                                                </button>
                                                                <div class="modal fade text-center" id="createBillModal" tabindex="-1" role="dialog" aria-labelledby="createBillModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLabel">Créer une facture</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="">
                                                                                    <form method="post" action="{{ path('billandgo_bill_create_from_estimate', {'estimate_id' : doc.id}) }}">
                                                                                        <div class="form-group">
                                                                                            <label for="bill_delay" class="form-label">Date de paiement</label>
                                                                                            <input id="bill_delay" name="delay" required="required" class="form-control" type="text">
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-success btn-outline">Créer la facture</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>


                                                </div>
                                                <div id="cli-{{ doc.number }}-doc" class="tab-pane fade in bg-info">
                                                    <p>
                                                        {{ doc.description|length > 300 ? doc.description|slice(0, 300) ~ '...' : doc.description  }}
                                                    </p>
                                                </div>
                                                <div id="cli-{{ doc.number }}-con" class="tab-pane fade in bg-info">
                                                    <div class="row">
                                                        <ul>
                                                            <li><strong>Total (hors taxes) :</strong> {{ doc.HT }}€ HT</li>
                                                            <li><strong>Total (toutes taxes comprises) :</strong>  {{ doc.HT + doc.VAT }}€ TTC</li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <h5>Détails : </h5>
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Tarif</th>
                                                            </tr>
                                                            </thead>
                                                        {% for line in doc.refLines %}
                                                            <tr>
                                                                <td>{{ line.name }}</td>
                                                                <td>{{ (line.refTax.percent + 100) / 100 * (line.price * line.quantity) }}€ TTC</td>
                                                            </tr>
                                                        {% endfor %}

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            {%  set nbcolor = nbcolor + 1 %}
                            {% if nbcolor >= maxcolor %}
                                {%  set nbcolor = 0 %}
                            {% endif %}







                             <!--   <div class="col-md-6 col-lg-4 text-center third-block estimate-block estimate-{{ doc.status }}">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="color-{{ doc.status }}">
                                            <a href="{{ path('billandgo_document_view', {'id': doc.id}) }}">
                                                {{ doc.number }}
                                            </a>
                                        </h3>
                                        <h4 class="color-{{ doc.status }}">
                                            pour
                                            <a href="{{ path('billandgo_clients_view', {'id': doc.refClient.id}) }}">
                                                {{ doc.refClient.companyName }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active">
                                                <a data-toggle="tab" href="#estimate-{{ doc.number }}-stat">
                                                    {{ status_fr[doc.status] }}
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#estimate-{{ doc.number }}-desc">
                                                    Description
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#estimate-{{ doc.number }}-fin">
                                                    {{ doc.HT + doc.VAT }}€ TTC
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="estimate-{{ doc.number }}-stat" class="tab-pane fade in active bg-info">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Envoyé le :
                                                        <br/>
                                                        {{ doc.sentDate|date('d-m-Y') }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        Valide jusqu'au :
                                                        <br/>
                                                        {{ doc.delayDate|date('d-m-Y') }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    {% if doc.status == "estimated" %}
                                                        <div class="col-sm-6 text-left">
                                                            <a class="btn btn-success" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'accepted'}) }}">
                                                                <i class="fa fa-envelope-open"></i> Accepté
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a class="btn btn-danger" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'refused'}) }}">
                                                                <i class="fa fa-envelope-open"></i> Refusé
                                                            </a>
                                                        </div>
                                                    {% elseif doc.status == "accepted" %}
                                                        <div class="col-sm-6 text-left">
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createProjectModal">
                                                                <i class="fa fa-industry"></i> Créer un projet
                                                            </button>
                                                            <div class="modal fade text-center" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="createProjectModalLabel">Créer un projet</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="well">
                                                                                <form method="post" action="{{ path('billandgo_project_create_from_estimate', {'estimateID' : doc.id}) }}">
                                                                                    <div class="form-group row">
                                                                                        <label for="project_name" class="col-sm-3 col-form-label">Nom</label>
                                                                                        <div class="col-sm-9">
                                                                                            <input class="form-control" type="text" value="Entrez le nom du projet" id="project_name" name="name">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label for="project_deadline" class="col-sm-3 col-form-label">Deadline</label>
                                                                                        <div class="col-sm-9">
                                                                                            <input class="form-control" type="text" name="deadline" id="project_deadline">
                                                                                        </div>
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn-success">Créer le projet</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBillModal">
                                                                <i class="fa fa-briefcase"></i> Créer une facture
                                                            </button>
                                                            <div class="modal fade text-center" id="createBillModal" tabindex="-1" role="dialog" aria-labelledby="createBillModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Créer une facture</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="well">
                                                                                <form method="post" action="{{ path('billandgo_bill_create_from_estimate', {'estimate_id' : doc.id}) }}">
                                                                                    <div class="form-group">
                                                                                        <label for="bill_delay" class="form-label">Date de paiement</label>
                                                                                        <input id="bill_delay" name="delay" required="required" class="form-control" type="text">
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn-success">Créer la facture</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div id="estimate-{{ doc.number }}-desc" class="tab-pane fade in bg-info">
                                                <p>
                                                    {{ doc.description|length > 300 ? doc.description|slice(0, 300) ~ '...' : doc.description  }}
                                                </p>
                                            </div>
                                            <div id="estimate-{{ doc.number }}-fin" class="tab-pane fade in bg-info">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        HT : {{ doc.HT }}€
                                                    </div>
                                                    <div class="col-sm-6">
                                                        HT : {{ doc.HT + doc.VAT }}€
                                                    </div>
                                                </div>
                                                <div>
                                                    {% for line in doc.refLines %}
                                                        <div {% if (line.refProject|first or line.refBill|first) %}class="color-grey"{% endif %} >
                                                            {% if (line.refProject|first or line.refBill|first) %}<em>{% endif %}
                                                                {{ line.name }}
                                                            {% if (line.refProject|first or line.refBill|first) %}</em>{% endif %}
                                                            <span class="badge badge-success">
                                                                {{ (line.refTax.percent + 100) / 100 * (line.price * line.quantity) }}€ TTC
                                                            </span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            {% endif %}
                        {% else %}
                            <div class="col-sm-12">
                                <div class="callout callout-warning text-center">
                                    <h4> Aucun {{ min_fr }} enregistré </h4>
                                    <p>
                                        Vous n'avez pas encore saisi de {{ min_fr }}, ne perdez pas de temps,
                                        <a href="{{ path('billandgo_estimate_add') }}">Ajoutez votre premier {{ min_fr }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <h5 class="text-center"><strong>Information(s) complémentaires(s)</strong></h5>
                    <div class="row center-block text-center">
                        <div class="col-md-4"> Total HT : <span class="badge bg-green">{{ totalHT }}€</span></div>
                        <div class="col-md-4">Total TTC : <span class="badge bg-green">{{ totalVat + totalHT }}€</span></div>
                        <div class="col-md-4">Total TVA : <span class="badge bg-red">{{ totalVat }}€</span></div>
                    </div>

                </div>
            </div>

            {# brouillons #}
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">brouillon{% if draws|length > 1 %}s{% endif %} ({{ draws|length }})</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            {% if draws|length > 0 %}<i class="fa fa-plus"></i>{% endif %}
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        {% set nbdoc = 0 %}
                        {% set nbcolor = 0 %}
                        {% set maxcolor = 6 %}
                        {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                        {% for doc in draws %}

                            {%  set nbd = nbd + 1 %}

                            <div class="col-md-4 estimate-{{ doc.status }}">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header  {{ color[nbcolor] }}">
                                        <div class="widget-user-image">
                                            <span class="img-circle"><i class="fa fa-file-o fa-3x ppdashbboard" ></i> </span>
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username"> {{ doc.number }} </h3>
                                        <h5 class="widget-user-desc">Status : <strong> {{ status_fr[doc.status]|lower }}</strong></h5>
                                        <h5 class="widget-user-desc"> Client :  <a href="{{ path('billandgo_clients_view', {'id': doc.refClient.id}) }}" class="white-color">{{ doc.refClient.companyName }}</a></h5>
                                        <h5 class="widget-user-desc">Total : <strong>  {{ doc.HT + doc.VAT }}€ TTC</strong></h5>
                                        <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_document_view', {'id': doc.id}) }}">
                                                Voir le {{ min_fr }}
                                            </a></h5>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-info">
                                                        Infos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-doc">
                                                        Description
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-con">
                                                        Total
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="cli-{{ doc.number }}-info" class="tab-pane fade in active bg-info" >

                                                    <ul>
                                                        <li><strong>Date d'envoi :</strong> {{ doc.sentDate|date('d-m-Y') }} </li>
                                                        <li><strong>Date de validité : </strong>{{ doc.delayDate|date('d-m-Y') }}</li>
                                                    </ul>

                                                    <h5><strong>Envoyez votre {{ min_fr }} à un des contacts ci-dessous :</strong> </h5>
                                                    {% if doc.refClient.contacts|length > 0 %}
                                                    <div class="row">
                                                        <form action="{{ path("billandgo_document_send_email", {"doc_id": doc.id}) }}" method="get">
                                                            <div class="form-group col-md-6 col-xs-12">

                                                                <select dir="rtl" class="form-control {{ color[nbcolor] }}" name="contact" style="color:#fff;">
                                                                    {% for contact in doc.refClient.contacts %}
                                                                        <option value="{{ contact.id }}">{{ contact.email }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6 col-xs-12">
                                                                <button type="submit" class="btn {{ color[nbcolor] }} btn-outline center-block">
                                                                    <i class="fa fa-envelope"></i> Envoyer
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    {% else %}
                                                        Aucun contact
                                                    {% endif %}
                                                </div>
                                                <div id="cli-{{ doc.number }}-doc" class="tab-pane fade in bg-info">
                                                    <p>
                                                        {{ doc.description|length > 300 ? doc.description|slice(0, 300) ~ '...' : doc.description  }}
                                                    </p>
                                                </div>
                                                <div id="cli-{{ doc.number }}-con" class="tab-pane fade in bg-info">
                                                    <div class="row">
                                                        <ul>
                                                            <li><strong>Total (hors taxes) :</strong> {{ doc.HT }}€ HT</li>
                                                            <li><strong>Total (toutes taxes comprises) :</strong>  {{ doc.HT + doc.VAT }}€ TTC</li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <h5>Détails : </h5>
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Tarif</th>
                                                                <th>Projet</th>
                                                                <th>Facture</th>
                                                            </tr>
                                                            </thead>
                                                            {% for line in doc.refLines %}
                                                                <tr>
                                                                    <td>{{ line.name }}</td>
                                                                    <td>{{ (line.refTax.percent + 100) / 100 * (line.price * line.quantity) }}€ TTC</td>
                                                                    <td>
                                                                        {% if line.refProject|first %}
                                                                            <a class="text-success" href="{{ path("billandgo_project_view", {"id":line.refProject|first.id}) }}">
                                                                                {{ line.refProject|first.name }}
                                                                            </a>
                                                                        {% else %}
                                                                            Aucun
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if line.refBill|first %}
                                                                            <a class="text-success" href="{{ path("billandgo_document_view", {"id":line.refBill|first.id}) }}">
                                                                                {{ line.refBill|first.number }}
                                                                            </a>
                                                                        {% else %}
                                                                            Aucune
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            {%  set nbcolor = nbcolor + 1 %}
                            {% if nbcolor >= maxcolor %}
                                {%  set nbcolor = 0 %}
                            {% endif %}
                        {% else %}
                            <div class="col-sm-12">
                                <div class="callout callout-warning text-center">
                                    <h4> Aucun {{ min_fr }} enregistré </h4>
                                    <p>
                                        Vous n'avez pas encore saisi de {{ min_fr }}, ne perdez pas de temps,
                                        <a href="{{ path('billandgo_estimate_add') }}">Ajoutez votre premier {{ min_fr }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            {# transformed #}
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    {% if type == 'estimate' %}
                        <h3 class="box-title">Devis transformé{% if transformed|length > 1 %}s{% endif %} ({{ transformed|length }})</h3>
                    {% elseif type == 'bill' %}
                        <h3 class="box-title">Vos factures payées</h3>
                    {% endif %}
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            {% if transformed|length > 0 %}<i class="fa fa-plus"></i>{% endif %}
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        {% set nbdoc = 0 %}
                        {% set nbcolor = 0 %}
                        {% set maxcolor = 6 %}
                        {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                        {% for doc in transformed %}

                            {%  set nbd = nbd + 1 %}

                            <div class="col-md-4 estimate-{{ doc.status }}">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header  {{ color[nbcolor] }}">
                                        <div class="widget-user-image">
                                            <span class="img-circle"><i class="fa fa-file-o fa-3x ppdashbboard" ></i> </span>
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username"> {{ doc.number }} </h3>
                                        <h5 class="widget-user-desc">Status : <strong> {{ status_fr[doc.status]|lower }}</strong></h5>
                                        <h5 class="widget-user-desc"> Client :  <a href="{{ path('billandgo_clients_view', {'id': doc.refClient.id}) }}" class="white-color">{{ doc.refClient.companyName }}</a></h5>
                                        <h5 class="widget-user-desc">Total : <strong>  {{ doc.HT + doc.VAT }}€ TTC</strong></h5>
                                        <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_document_view', {'id': doc.id}) }}">
                                                Voir le {{ min_fr }}
                                            </a></h5>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-info">
                                                        Infos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-doc">
                                                        Description
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-con">
                                                        Total
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="cli-{{ doc.number }}-info" class="tab-pane fade in active bg-info" >

                                                    <ul>
                                                        <li><strong>Date d'envoi :</strong> {{ doc.sentDate|date('d-m-Y') }} </li>
                                                        {% if doc.answerDate %}
                                                            <li><strong>
                                                                    {{ status_fr[doc.status]|capitalize }} le : </strong>
                                                                {{ doc.answerDate|date('d-m-Y') }}
                                                            </li>
                                                        {% else %}
                                                            <li><strong>Date de validité : </strong>{{ doc.delayDate|date('d-m-Y') }}</li>
                                                        {%  endif %}
                                                    </ul>
                                                </div>
                                                <div id="cli-{{ doc.number }}-doc" class="tab-pane fade in bg-info">
                                                    <p>
                                                        {{ doc.description|length > 300 ? doc.description|slice(0, 300) ~ '...' : doc.description  }}
                                                    </p>
                                                </div>
                                                <div id="cli-{{ doc.number }}-con" class="tab-pane fade in bg-info">
                                                    <div class="row">
                                                        <ul>
                                                            <li><strong>Total (hors taxes) :</strong> {{ doc.HT }}€ HT</li>
                                                            <li><strong>Total (toutes taxes comprises) :</strong>  {{ doc.HT + doc.VAT }}€ TTC</li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <h5>Détails : </h5>
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Tarif</th>
                                                                <th>Projet</th>
                                                                <th>Facture</th>
                                                            </tr>
                                                            </thead>
                                                            {% for line in doc.refLines %}
                                                                <tr>
                                                                    <td>{{ line.name }}</td>
                                                                    <td>{{ (line.refTax.percent + 100) / 100 * (line.price * line.quantity) }}€ TTC</td>
                                                                    <td>
                                                                            {% if line.refProject|first %}
                                                                                <a class="text-success" href="{{ path("billandgo_project_view", {"id":line.refProject|first.id}) }}">
                                                                                    {{ line.refProject|first.name }}
                                                                                </a>
                                                                            {% else %}
                                                                                Aucun
                                                                            {% endif %}
                                                                    </td>
                                                                    <td>
                                                                            {% if line.refBill|first %}
                                                                                <a class="text-success" href="{{ path("billandgo_document_view", {"id":line.refBill|first.id}) }}">
                                                                                    {{ line.refBill|first.number }}
                                                                                </a>
                                                                                {% else %}
                                                                                Aucune
                                                                            {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            {%  set nbcolor = nbcolor + 1 %}
                            {% if nbcolor >= maxcolor %}
                                {%  set nbcolor = 0 %}
                            {% endif %}
                        {% else %}
                            <div class="col-sm-12">
                                <div class="callout callout-warning text-center">
                                    <h4>Aucun {{ min_fr }} enregistré </h4>
                                    <p>
                                        Vous n'avez pas encore saisi de {{ min_fr }}, ne perdez pas de temps,
                                        <a href="{{ path('billandgo_estimate_add') }}">Ajoutez votre premier {{ min_fr }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            {# canceled/refused #}
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Devis annulé{% if canceled|length > 1 %}s{% endif %}/refusé{% if canceled|length > 1 %}s{% endif %} ({{ canceled|length }})
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            {% if canceled|length > 0 %}<i class="fa fa-plus"></i>{% endif %}
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        {% set nbd = 0 %}
                        {% set nbcolor = 0 %}
                        {% set nbdoc = 0 %}
                        {% set maxcolor = 6 %}
                        {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                        {% for doc in canceled %}

                            {%  set nbd = nbd + 1 %}

                            <div class="col-md-4 estimate-{{ doc.status }}">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header  {{ color[nbcolor] }}">
                                        <div class="widget-user-image">
                                            <span class="img-circle"><i class="fa fa-file-o fa-3x ppdashbboard" ></i> </span>
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username"> {{ doc.number }} </h3>
                                        <h5 class="widget-user-desc">Status : <strong> {{ status_fr[doc.status]|lower }}</strong></h5>
                                        <h5 class="widget-user-desc"> Client :  <a href="{{ path('billandgo_clients_view', {'id': doc.refClient.id}) }}" class="white-color">{{ doc.refClient.companyName }}</a></h5>
                                        <h5 class="widget-user-desc">Total : <strong>  {{ doc.HT + doc.VAT }}€ TTC</strong></h5>
                                        <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_document_view', {'id': doc.id}) }}">
                                                Voir le {{ min_fr }}
                                            </a></h5>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <div class="panel-body">
                                            <ul class="nav nav-pills nav-justified">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-info">
                                                        Infos
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-doc">
                                                        Description
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#cli-{{ doc.number }}-con">
                                                        Total
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="cli-{{ doc.number }}-info" class="tab-pane fade in active bg-info" >

                                                    <ul>

                                                            {% if doc.answerDate %}
                                                                <li><strong>Date d'envoi : </strong>{{ doc.sentDate|date('d-m-Y') }}</li>

                                                        {% if doc.answerDate %}
                                                            <li>
                                                                <strong>
                                                                    {{ status_fr[doc.status] }} le :
                                                                </strong>
                                                                {{ doc.answerDate|date('d-m-Y') }}
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <strong>
                                                                    Date de validité :
                                                                </strong>
                                                                {{ doc.delayDate|date('d-m-Y') }}
                                                            </li>
                                                        {%  endif %}

                                                        {% else %}
                                                            <li><strong>Date d'envoi : </strong>{{ doc.sentDate|date('d-m-Y') }}</li>
                                                        {% endif %}

                                                    </ul>



                                                    <div class="row">
                                                        {% if doc.status == "estimated" %}
                                                            <div class="col-sm-6 text-left">
                                                                <a class="btn btn-success btn-outline" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'accepted'}) }}">
                                                                    <i class="fa fa-envelope-open"></i> Accepter
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-6 text-right">
                                                                <a class="btn btn-danger btn-outline" href="{{ path('billandgo_document_edit_status', {'id': doc.id, 'status': 'refused'}) }}">
                                                                    <i class="fa fa-envelope-open"></i> Refuser
                                                                </a>
                                                            </div>
                                                        {% elseif doc.status == "accepted" %}
                                                            <div class="col-sm-6 text-left">
                                                                <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createProjectModal">
                                                                    <i class="fa fa-industry"></i> Créer un projet
                                                                </button>
                                                                <div class="modal fade text-center" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="createProjectModalLabel">Créer un projet</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="">
                                                                                    <form method="post" action="{{ path('billandgo_project_create_from_estimate', {'estimateID' : doc.id}) }}" class="form_project" attr-client="{{ doc.refClient.companyname }}">
                                                                                        <div class="form-group row">
                                                                                            <label for="project_name" class="col-sm-3 col-form-label">Nom</label>
                                                                                            <div class="col-sm-9">
                                                                                                <input class="form-control project_name" type="text" placeholder="Entrez le nom du projet" id="project_name" name="name">
                                                                                            </div>
                                                                                        </div>
                                                                                        <p style="display: none" class="pdesc">{{ doc.description }}</p>
                                                                                        <div class="form-group row">
                                                                                            <label for="project_deadline" class="col-sm-3 col-form-label">Deadline</label>
                                                                                            <div class="col-sm-9">
                                                                                                <input class="form-control project_deadline" type="text" name="deadline" id="project_deadline">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div ><small><strong><i class="fa fa-info"></i> La description sera créée à partir de celle du devis</strong></small></div>
                                                                                        <button type="submit" class="btn btn-success btn-outline">Créer le projet</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 text-right">
                                                                <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createBillModal">
                                                                    <i class="fa fa-briefcase"></i> Créer une facture
                                                                </button>
                                                                <div class="modal fade text-center" id="createBillModal" tabindex="-1" role="dialog" aria-labelledby="createBillModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLabel">Créer une facture</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="well">
                                                                                    <form method="post" action="{{ path('billandgo_bill_create_from_estimate', {'estimate_id' : doc.id}) }}">
                                                                                        <div class="form-group">
                                                                                            <label for="bill_delay" class="form-label">Date de paiement</label>
                                                                                            <input id="bill_delay" name="delay" required="required" class="form-control" type="text">
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-success">Créer la facture</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>


                                                </div>
                                                <div id="cli-{{ doc.number }}-doc" class="tab-pane fade in bg-info">
                                                    <p>
                                                        {{ doc.description|length > 300 ? doc.description|slice(0, 300) ~ '...' : doc.description  }}
                                                    </p>
                                                </div>
                                                <div id="cli-{{ doc.number }}-con" class="tab-pane fade in bg-info">
                                                    <div class="row">
                                                        <ul>
                                                            <li><strong>Total (hors taxes) :</strong> {{ doc.HT }}€ HT</li>
                                                            <li><strong>Total (toutes taxes comprises) :</strong>  {{ doc.HT + doc.VAT }}€ TTC</li>
                                                        </ul>
                                                    </div>
                                                    <div>
                                                        <h5>Détails : </h5>
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Tarif</th>
                                                            </tr>
                                                            </thead>
                                                            {% for line in doc.refLines %}
                                                                <tr>
                                                                    <td>{{ line.name }}</td>
                                                                    <td>{{ (line.refTax.percent + 100) / 100 * (line.price * line.quantity) }}€ TTC</td>
                                                                </tr>
                                                            {% endfor %}

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            {%  set nbcolor = nbcolor + 1 %}
                            {% if nbcolor >= maxcolor %}
                                {%  set nbcolor = 0 %}
                            {% endif %}

                        {% else %}
                            <div class="col-sm-12">
                                <div class="callout callout-warning text-center">
                                    <h4> Aucun {{ min_fr }} enregistré </h4>
                                    <p>
                                        Vous n'avez pas encore saisi de {{ min_fr }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    <script>
        //filter
        $('#estimateFilterAll').addClass('active');

        $("#estimateFilterSent").click(
            function() {
                $('.estimate-sent').show();
                $('.estimate-accepted').hide();
                $('#estimateFilterSent').addClass('active');
                $('#estimateFilterAccepted').removeClass('active');
                $('#estimateFilterAll').removeClass('active');
            }
        );
        $("#estimateFilterAccepted").click(
            function() {
                $('.estimate-sent').hide();
                $('.estimate-accepted').show();
                $('#estimateFilterAccepted').addClass('active');
                $('#estimateFilterSent').removeClass('active');
                $('#estimateFilterAll').removeClass('active');
            }
        );
        $("#estimateFilterAll").click(
            function() {
                $('.estimate-sent').show();
                $('.estimate-accepted').show();
                $('#estimateFilterAll').addClass('active');
                $('#estimateFilterSent').removeClass('active');
                $('#estimateFilterAccepted').removeClass('active');
            }
        );
        $('#project_deadline').datepicker();
        $('#bill_delay').datepicker();
    </script>
    <script src="{{ asset('bundles/billandgo/js/project.google.agenda.js') }}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
{% endblock %}