{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - {{ devis.id }}{% endblock %}

{% block body %}

    <h2>{{ devis.id }} : ajouter une ligne</h2>

    {{ include("BillAndGoBundle:Devis:form.html.twig") }}

    <a href="{{ path('billandgo_devis_view', {'id': devis.id}) }}">Retour au devis</a>
    <a href="{{ path('billandgo_devis_list') }}">Retour à la liste</a>

{% endblock %}