
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2 box-client bg-green-client">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header  bg-green">
            <div class="widget-user-image">
                <img class="img-circle" src="{{ asset('bundles/billandgo/img/client.png') }}" alt="Client Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{ client.companyName }}</h3>
            <h5 class="widget-user-desc">Client</h5>
            <h5 class="widget-user-desc client-link-box-content"> <a href="{{ path('billandgo_clients_view', {'id': client.id}) }}">
                    Voir la fiche client
                </a></h5>

        </div>
        <div class="box-footer no-padding">
            <div class="panel-body">
                <div class="tab-content">
                    <div id="cli-1-info" class="tab-pane fade in active bg-info">
                        <h5 class="">Contacts de ce client</h5>
                        <p class="alert-contact-send" style="display: none"></p>
                        {% if client.contacts is empty %}
                            <p><strong>Aucun contact enregistré</strong></p>
                        {% else %}
                            <table class="table table-striped">
                                <thead><tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Action</th>
                                </tr></thead>
                                {% for contact in client.contacts %}
                                    <tr>
                                        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                                        <td>{{ contact.firstname }}</td>
                                        <td>{{ contact.lastname }}</td>
                                        <td style="padding-top: 0">
                                            <form action="{{ path("billandgo_document_send_email", {"doc_id": document.id}) }}" method="GET" class="form-contact-send">
                                                        <input type="hidden" name="contact" value="{{ client.id }}"/>
                                                <button type="submit" class="btn btn-primary btn-outline no-border send-btn-contact">Envoyer le document à ce contact</button>
                                            </form>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

