{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Votre agenda connecté{% endblock %}
{% block advanced_stylesheets %}
    <link href="{{ asset('bundles/billandgo/assets/fullcalendar/dist/fullcalendar.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper organizer">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Agenda
                <small>Voici votre agenda connecté à votre calendrier (Google)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Agenda</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 onlick column-link"  id="authorize-button" style="display: none;">

                            <p> Connectez-vous à votre compte Google afin de profiter de cette fonctionnalitée</p>

                            <button type="button" class="btn btn-primary" onclick="location.href='{{ path('billandgo_parameters_show') }}'">Aller dans mes paramètres</button>
                        <!-- /.info-box-content -->
                </div><!-- /.col -->
                <div class="col-md-12 col-sm-12 col-xs-12 onlick column-link"  id="signout-button" style="display: none;">


                        <p> Pour désactiver cette fonctionnalitée, veuillez vous déconnecter de votre compte Google depuis Bill&Go</p>

                        <button type="button" class="btn btn-primary" onclick="location.href='{{ path('billandgo_parameters_show') }}'">Aller dans mes paramètres</button>

                    <!-- /.info-box -->
                </div><!-- /.col -->
            </div>
            <hr>


            <div class="row" >
                <div class="col-md-12">
                    <div class="loading-element col-md-12" style="display: none"><div class="load-elem">Récupération des évènements...</div></div>
                    <div id="calendar"></div>

                </div>

            </div>
            <div class="row row_pre_event">
                <div class="col-md-12"><h3>Vos évènements à venir</h3></div>
            </div>
            <hr/>
            <div class="row" id="row_event_append">

            </div>
        </section>

        <div id="eventContent" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center ">Détails de l'évènement</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> Titre : <span id="eventTitle"></span></li>
                            <li> Début : <span id="startTime"></span></li>
                            <li> Fin : <span id="endTime"></span></li>
                            <li> Description : <span id="eventInfo"></span></li>
                            <li> Lieu : <span id="eventLocation"></span></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default btn-info btn-outline" href="" id="eventLink" target="_blank">Voir sur Google Agenda</a>
                        <button type="button" class="btn btn-default btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="createEventModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                    <h4>Créer un évènement</h4>
                </div>
                <div id="modalBody2" class="modal-body">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nom" id="eName">
                    </div>

                    <div class="form-group form-inline">
                        <div class="input-group date" data-provide="datetimepicker">
                            <input type="text" id="eStartDate" class="form-control" placeholder="Date de début mm/dd/yyyy" disabled="disabled">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-inline">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="eDueDate" class="form-control" placeholder="Date de fin mm/dd/yyyy">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" type="text" rows="4" placeholder="Description" id= "eDescription"></textarea>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Localisation" id= "eLocation"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                    <button type="submit" class="btn btn-primary" id="submitButton">Créer</button>
                </div>
            </div>
        </div>
    </div>



    <!-- /.content-wrapper -->

{% endblock fos_user_content %}

{% block advanced_javascripts %}

    <script src="{{ asset('bundles/billandgo/assets/fullcalendar/dist/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/fullcalendar/dist/locale/fr.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/google.agenda.js') }}"></script>

    <script type="text/javascript">

        $(window).on('load', function () {
            if (1 === gastatus) {
                $(".loading-element").show();
            }
        });
        $(document).ready(function () {


            setTimeout(function () {
                if (1 === gastatus) {
                    addEvent();
                }
            }, 2500);

        });

        $(document).on('click', ".fc-next-button, .fc-prev-button, .fc-right button", function(){
            addEvent();
        });

    </script>

    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

{% endblock %}