<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>
        {% block title %} Bill&Go - Inscrivez-vous au service afin d'optimiser votre gestion administrative {% endblock %}
    </title>
    <meta name="description" content="Outil web destiné aux freelances/ micro-entrepreneurs développeur afin de simplifier leur gestion administrative" />
    <meta name="keywords" content="Freelance, micro-entrepreneur, administratif, gestion administrative, temps, papier, compta, projets, devis, factures, taxes, iumio">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/billandgo/img/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/billandgo/img/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/billandgo/img/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ asset('bundles/billandgo/img/site.webmanifest') }}" />
    <link rel="mask-icon" href="{{ asset('bundles/billandgo/img/safari-pinned-tab.svg') }}" color="#f26941" />
    <link rel="shortcut icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="{{ asset('bundles/billandgo/img/browserconfig.xml') }}" />
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/billandgo/img/favicon.ico') }}"/>
    <link href="{{ asset('bundles/billandgo/assets/font-awesome/css/font-awesome.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/billandgo/css/common.css') }}" type="text/css" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    {% block stylesheets %}
        <link href="{{ asset('bundles/billandgo/css/register.css') }}" type="text/css" rel="stylesheet"/>

        <script src='https://www.google.com/recaptcha/api.js'></script>


        <script type="text/javascript">
            var onloadCallback = function() {
                grecaptcha.render('html_element', {
                    'sitekey' : '6LeadXIUAAAAAH6eWdLVwmF4BUSm2zCK4NuIh8ZR'
                });
            };
        </script>
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118804156-2"></script>


    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118804156-2');
    </script>

</head>

<body class="hold-transition login-page">




{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
    <div class="push"></div>

<footer class="text-right login-footer">
    <br>
    <small>Copyright &copy; {{ "now"|date("Y") }} - Bill&Go. Tous droits réservés. Bill&Go est un produit <a href="https://www.iumio.com">iumio</a></small> - <a href="{{ path('billandgo_ml') }}" target="_blank">Mentions légales et Politiques de confidentialités</a>
</footer>

<div class="privacy-banner" style="border-top: 2px solid #f3624f; display: none;">
    <div>
        <p>
            Nous utilisons des cookies pour fournir et améliorer nos services. En utilisant notre site, vous acceptez les cookies.
            <a class="banner-accept" href="#" style="background: #f3624f">Accepter</a>
            <a class="banner-learn" href="{{ path('billandgo_ml') }}" target="_blank">Plus d'informations</a>
        </p>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/billandgo/assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/assets/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/register.js') }}"></script>
    <script src="{{ asset('bundles/billandgo/js/common.js') }}"></script>
{% endblock %}

</body>
</html>
