{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Bienvenue sur votre tableau de bord. Retrouvez les statistiques globales de votre entreprise.</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                {% if user.plan == null %}
                <div class="col-md-12 box box-edited">
                    <div class="callout callout-info">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        <h5><i class="fa fa-info"></i> Vous utilisez actuellement de la version gratuite de Bill&Go. Vous êtes limité à 15 factures, 15 projets, 15 devis et 15 clients (<a href=" https://billandgo.fr/limitation-edition-standard/">Voir les limitation de la version standard</a>). <br> Si vous souhaitez profiter de fonctionnalités payantes et la suppression de ce message, Veuillez nous contacter <a href=" https://billandgo.fr/edition-premium/">ici</a></h5>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-3 col-sm-6 col-xs-12 onlick " onclick="location.href='{{ path('billandgo_project_list') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-industry"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Projets</span>
                            <span class="info-box-number">{{ project }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12 onlick" onclick="location.href='{{ path('billandgo_estimate_index') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa ion-ios-paper-outline"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Devis</span>
                            <span class="info-box-number">{{ quotes }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12 onlick" onclick="location.href='{{ path('billandgo_bill_index') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-briefcase"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Factures</span>
                            <span class="info-box-number">{{ bills }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12 onlick" onclick="location.href='{{ path('billandgo_clients_list') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Clients</span>
                            <span class="info-box-number">{{ clients }}</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Les derniers projets en cours <small>(Limité à 3)</small></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {% set nbp = 0 %}
                            {% set nbcolor = 0 %}
                            {% set maxcolor = 6 %}
                            {% set color = ['bg-yellow', 'bg-green', 'bg-purple', 'bg-black', 'bg-blue', 'bg-red'] %}
                            {% for p in projects if nbp < 3 %}
                                <div class="col-md-4 onlick" onclick="location.href='{{ path('billandgo_project_view', {'id': p.id}) }}'">
                                    <!-- Widget: user widget style 1 -->
                                    <div class="box box-widget widget-user-2 box-client {{ color[nbcolor] }}-client">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header  {{ color[nbcolor] }}">
                                            <div class="widget-user-image" style="margin-top: -35px;">
                                            <span class="img-circle"><i class="fa fa-industry fa-3x ppdashbboard" ></i> </span>
                                            </div>
                                            <!-- /.widget-user-image -->
                                            <h3 class="widget-user-username"> Projet {{ p.name|capitalize }} </h3>
                                            <h5 class="widget-user-desc">Deadline : <span class="badge">{{ p.deadLine|date('d-m-Y') }}</span></h5>

                                        </div>
                                        <div class="box-footer no-padding">
                                            <div class="panel-body">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.widget-user -->
                                </div>
                                {% set nbp = nbp + 1 %}
                                {%  set nbcolor = nbcolor + 1 %}
                                {% if nbcolor >= maxcolor %}
                                    {%  set nbcolor = 0 %}
                                {% endif %}
                            {% else %}
                                <div class="callout callout-info">
                                    <h4>Oups! Vous n'avez aucun projet en cours </h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Vos statistiques du mois</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                               <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>-->
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong>Statistiques du 01/{{ 'now'|date('m/Y') }} au {{ enddate }}</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart" style="height: 180px; width: 1083px;" width="2166" height="360"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <p class="text-center">
                                        <strong>Historiques</strong>
                                    </p>

                                    <div class="progress-group">
                                        <span class="progress-text">Facture(s) payée(s)</span>
                                        <span class="progress-number"><b>{{ billpaidm }}</b>/{{ billtotalm }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua" style="width: {% if billtotalm > 0 %}{{ billpaidm * 100 / billtotalm }}{% else %}0{% endif %}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Devis accepté(s)</span>
                                        <span class="progress-number"><b>{{ quotesacceptm }}</b>/{{ quotestotalm }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red" style="width: {% if quotestotalm > 0 %}{{ quotesacceptm * 100 / quotestotalm }}{% else %}0{% endif %}%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <!--<div class="progress-group">
                                        <span class="progress-text">Visit Premium Page</span>
                                        <span class="progress-number"><b>480</b>/800</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <!--<div class="progress-group">
                                        <span class="progress-text">Send Inquiries</span>
                                        <span class="progress-number"><b>250</b>/500</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <!--<div class="box-footer">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">

                                        <h5 class="description-header">0</h5>
                                        <span class="description-text">Total des paiements</span>
                                    </div>

                                </div>

                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                        <h5 class="description-header">$10,390.90</h5>
                                        <span class="description-text">TOTAL COST</span>
                                    </div>

                                </div>

                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                        <h5 class="description-header">$24,813.53</h5>
                                        <span class="description-text">TOTAL PROFIT</span>
                                    </div>

                                </div>

                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                        <h5 class="description-header">1200</h5>
                                        <span class="description-text">GOAL COMPLETIONS</span>
                                    </div>
                                </div>
                            </div>

                        </div>-->
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock fos_user_content %}