{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Liste des lignes{% endblock %}

{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                LIGNES
                <small>Liste des Lignes</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            {% for line in list %}
                <div class="well">
                    <h4>
                        {{ line.name }}
                    </h4>
                    <p>
                        {{ line.description }}
                    </p>
                    <div>
                        {{line.quantity }} * ({{ line.price }} + {{ line.vat }})
                    </div>
                    <div>
                        {{line.estimatedTime }}h - {{ line.chronoTime }}
                    </div>
                    <div>
                        {{line.status }} - {{ line.deadLine|date('d-m-Y') }}
                    </div>
                    <div>
                        {% if line.refClient %}
                            Client : {{ line.refClient.companyName }}
                        {% else %}
                            Pas de client !
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="well">
                    <h4> <i class="fa fa-warning"></i> Aucune ligne enregistrée <i class="fa fa-warning"></i> </h4>
                    <p>
                        Vous n'avez pas encore saisie de facture, ne perdez pas de temps,
                        <a href="{{ path('billandgo_line_add') }}">Ajoutez votre première facture</a>
                    </p>
                </div>
            {% endfor %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock fos_user_content %}
