{#{{ form(form) }}#}


{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="form-group" id="project_modal_client">
    {{ form_label(form.refClient, "Pour le client :", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.refClient) }}
    {{ form_widget(form.refClient, {'attr': {'class': 'form-control'}}) }}
    <div>
        <span class="btn btn-success" id="project_modal_client_ok">Valider</span>
    </div>
</div>
<div class="form-group" id="project_modal_name">
    {{ form_label(form.name, "Nom du projet", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    <div>
        <span class="btn btn-danger" id="project_modal_client_back">Retour au client</span>
        <span class="btn btn-success" id="project_modal_name_ok">Valider</span>
    </div>
</div>
<div class="form-group" id="project_modal_dates">
    {{ form_label(form.deadline, "Deadline :", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.deadline) }}
    {{ form_widget(form.deadline, {'attr': {'class': 'form-control'}}) }}
    <div>
        <span class="btn btn-danger" id="project_modal_name_back">Retour au nom</span>
        <span class="btn btn-success" id="project_modal_dates_ok">Valider</span>
    </div>
</div>
<div class="form-group" id="project_modal_description">
    {{ form_label(form.description, "Description :", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    <div>
        <span class="btn btn-danger" id="project_modal_dates_back">Retour aux dates</span>
        <span class="btn btn-success" id="project_modal_description_ok">Valider</span>
    </div>
</div>
<div class="form-group" id="project_modal_submit">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

