{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{%
    set status_fr = {
    "planned" : "Programmé",
    "canceled" : "Annulé",
    "working" : "En cours",
    "waiting" : "En attente de validation",
    "validated" : "Validé",
    "" : "statut inconnu"
}
%}
{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Projet
                <small>
                    <span id="doc_number">{{ project.name }}</span> pour le client <i>{{ project.refClient.companyName }}</i>
                </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{{ path('billandgo_project_list') }}"><i class="fa fa-industry"></i> Projets</a></li>
                <li class="active">{{ project.name }}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_project_list') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-list"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text"><strong>Liste des projet</strong></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!--  /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_project_add') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text"><strong>Créer un nouveau projet</strong></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div>


            <div class="row">
                <div class="col-md-8">

                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                            <div class="widget-user-image" style="margin-top: -35px">
                                <i class="fa fa-info ppdashbboard fa-3x"></i>
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Informations sur ce projet</h3>
                            <h5 class="widget-user-desc">Obtenez les informations sur le projet {{ project.name }}</h5>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">

                                    <ul class="products-list product-list-in-box">

                                        <li class="item">
                                            <div class="product-img">
                                                <i class="fa fa-file-text fa-2x"></i>
                                            </div>
                                            <div class="product-info">
                                                <div  class="product-title">
                                                    <strong>Description  </strong>  <a href="#" class="btn btn-primary btn-outline edit-desc">Editer la description</a>
                                                    <div class="form-desc-edited form-group " style="display: none;">
                                                        <textarea class="desc-edited form-control">{{ project.description|trim }}</textarea>
                                                        <div class="text-left">
                                                            <br>
                                                            <input type="button" value="Annuler" class="canceled-desc-edit btn btn-danger">
                                                            <input type="button" value="Sauvegarder" class="save-desc-edit btn btn-success">

                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="product-description">
                                            <span id="pdescription">{{ project.description }}</span>
                                                    </span>

                                            </div>
                                        </li>


                                        <li class="item">
                                            <div class="product-img">
                                                <i class="fa fa-angle-up fa-2x"></i>
                                            </div>
                                            <div class="product-info">
                                                <div  class="product-title">
                                                    <strong>Date de début  </strong>
                                                </div>
                                                <span class="product-description">
                                            {{ project.begin|date('d/m/Y') }}
                                        </span>
                                            </div>
                                        </li>

                                        <li class="item">
                                            <div class="product-img">
                                                <i class="fa fa-angle-down fa-2x"></i>
                                            </div>
                                            <div class="product-info">
                                                <div  class="product-title">
                                                    <strong>Deadline  </strong>
                                                </div>
                                                <span class="product-description">
                                            {{ project.deadLine|date('d/m/Y') }}
                                        </span>
                                            </div>
                                        </li>

                                            <li class="item">
                                                <div class="product-img">
                                                    <i class="fa fa-github fa-2x"></i>
                                                </div>
                                                <div class="product-info">
                                                    <div  class="product-title">
                                                        <strong>Dépôt Github </strong>
                                                    </div>
                                                    <span class="product-description">
                                                        {% if project.githubProject %}
                                                            <a href="{{ project.repoUrl }}" target="_blank">
                                                                {{ project.githubProject.fullName }}
                                                            </a>
                                                        {% elseif user.githubId %}
                                                            <span class="dropdown">
                                                                <button class="btn btn-success btn-outline dropdown-toggle" type="button" id="dropdownGitRepo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Ajouter un dépôt
                                                                </button>
                                                                <div class="dropdown-menu dropdown-mod" aria-labelledby="dropdownGitRepo">

                                                         <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green text-center flex-block">
                            <!-- /.widget-user-image -->
                            <span>Vos dépôts</span>
                            <a  class="btn btn-danger dropdown-toggle "   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   Fermer
                                                    </a>

                                                        <a  class="btn btn-primary"  data-toggle="modal" data-target="#createRepoModal">
                                                            Créer un dépôt
                                                        </a>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">

                                    <ul class="products-list product-list-in-box" id="gitList">
                                    </ul>
                                </div>
                            </div>
                        </div>





                                                    </div>
                                                    </div>
                                                </span>
                                                          <div class="modal fade text-center" id="createRepoModal" tabindex="-1" role="dialog" aria-labelledby="createRepoModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title text-center" id="repoModalLabel">Création d'un dépôt GitHub</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-left">
                                                            <form method="post" action="{{ path('billandgo_project_create_repo', {'id' : project.id}) }}">
                                                                <div class="form-group row">
                                                                    <label for="name" class="col-sm-7 col-form-label">Nom du dépôt :</label>
                                                                    <div class="col-sm-5">
                                                                        <input class="form-control" type="text" id="name" name="name">
                                                                    </div>
                                                                </div>
                                                            </span>
                                                            <div class="modal fade text-center" id="createRepoModal" tabindex="-1" role="dialog" aria-labelledby="createRepoModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title text-center" id="repoModalLabel">Création d'un dépôt GitHub</h4>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body text-left">
                                                                            <form method="post" action="{{ path('billandgo_project_create_repo', {'id' : project.id}) }}">
                                                                                <div class="form-group row">
                                                                                    <label for="name" class="col-sm-7 col-form-label">Nom du dépôt :</label>
                                                                                    <div class="col-sm-5">
                                                                                        <input class="form-control" type="text" id="name" name="name">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row">
                                                                                    <label for="private" class="col-sm-9 col-form-label">
                                                                                        Dépôt privé ?
                                                                                        <i class="color-grey font-light">(fonctionnalité payante de GitHub)</i>
                                                                                    </label>
                                                                                    <div class="col-sm-3 text-right">
                                                                                        <input class="custom-control custom-checkbox" type="checkbox" id="private" name="private">
                                                                                    </div>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-success btn-outline">Créer le dépôt</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                      {% else %}
                                                          Compte non synchronisé
                                                      {% endif %}
                                                    </span>
                                                </div>
                                            </li>
                                        {% if project.refClient != NULL %}
                                            {% set document = project.refClient %}
                                            {% set client = project.refClient %}
                                            <li class="item">
                                                <div class="product-img">
                                                    <i class="fa fa-user-circle fa-2x"></i>
                                                </div>
                                                <div class="product-info">
                                                    <div  class="product-title">
                                                        <strong>Client  </strong>
                                                    </div>
                                                    <span class="product-description">
                                           <a href="{{ path('billandgo_clients_view', {'id': client.id}) }}">{{ client.companyName }}</a>
                                        </span>
                                                </div>
                                            </li>
                                        {% endif %}
                                        <!-- /.item -->
                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                            <div class="widget-user-image" style="margin-top: -35px">
                                <i class="fa fa-info ppdashbboard fa-3x"></i>
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Actions possible sur ce projet</h3>
                            <h5 class="widget-user-desc">Effectuer des actions sur le projet {{ project.name }}</h5>
                        </div>
                        <div class="box-footer">
                            <div class="row">

                                <div class="col-md-12">


                                    <div class="box-footer text-center">

                                        <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#createBillModal">
                                            Créer une facture
                                        </button>
                                        <div class="modal fade text-center" id="createBillModal" tabindex="-1" role="dialog" aria-labelledby="createBillModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center" id="exampleModalLabel">Création d'une facture</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{{ path('billandgo_bill_create_from_project', {'project_id' : project.id}) }}">
                                                            <div class="form-group row">
                                                                <label for="bill_delay" class="col-sm-5 col-form-label">Date de paiement</label>
                                                                <div class="col-sm-7">
                                                                    <input class="form-control" type="text" id="bill_delay" name="delay">
                                                                </div>
                                                            </div>
                                                            <button type="submit" class="btn btn-success btn-outline">Créer la facture</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Widget: user widget style 1 -->




            <div class="box box-success">
                <div class="box-header with-border">
                    {% set timeLeft = 0 %}
                    {% set timeDone = 0 %}
                    {% for line in project.refLines %}
                        {% if line.status == "planned" %}
                            {% set timeLeft = timeLeft + line.estimatedTime * line.quantity %}
                        {% else %}
                            {% set timeDone = timeDone + line.estimatedTime * line.quantity %}
                        {% endif %}
                    {% endfor %}
                    <div>
                    <h3 class="box-title">Tâches du projet ({{ project.refLines|length }})</h3>
                    {% if project.githubProject %}
                        <div>
                            <a
                                    href="{{ path("billandgo_project_line_update_status", {"projectId" : project.id}) }}"
                                    class="btn btn-warning btn-outline">
                                <small>Mettre à jour</small>
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                    {% endif %}
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="lines">
                        <table id="table_todo" class="table table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Quantité</th>
                                <th>Prix HT</th>
                                <th>Temps estimé</th>
                                <th>Date de rendu</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set value = 0 %}
                            {% for line in project.refLines %}
                                {% if line.deadLine %}
                                    {% set difference = date(date()).diff(line.deadLine) %}
                                    {% set leftDays = difference.days %}
                                {% endif %}
                                <tr style="font-weight:bold">
                                    <td>
                                        {#% if line.status == "validated" and line.refBill is empty %}
                                            <input type="checkbox" name="select-line-{{ line.id }}" form="createProject" class="select-line">
                                            <input type="checkbox" name="select-line-{{ line.id }}" form="createBill" class="select-line hidden">
                                        {% endif %#}
                                        <span class="line-elt-name">{{ line.name }}</span>
                                        <button type="button"  class="btn btn-success btn-outline" data-toggle="modal" data-target="#editLine{{ line.id }}Modal">
                                            Modfier la tâche <i class="fa fa-gears"></i>
                                        </button>
                                        <br/>
                                        <span class="grey-text description" style="font-size:14px;font-weight: normal">{{ line.description }}</span>
                                        <div class="modal fade" id="editLine{{ line.id }}Modal" tabindex="-1" role="dialog"
                                             aria-labelledby="editLine{{ line.id }}ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center" id="editLine{{ line.id }}ModalLabel">Modification d'un tâche</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="" method="post" class="text-center">
                                                            <div class="row row-modified">
                                                                <input type="hidden" name="id_line" value="{{ line.id }}">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="name"  class="col-md-12">Nom</label>
                                                                        <div class="col-md-12">
                                                                            <input type="text" name="name" value="{{ line.name }}" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="description"  class="col-md-12">Description</label>
                                                                        <div class="col-md-12">
                                                                            <textarea name="description" class="textdesc form-control">{{ line.description }}</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="quantity" class="col-md-12">Quantité</label>
                                                                        <div class="col-md-12">
                                                                            <input type="number" name="quantity" value="{{ line.quantity }}" class="form-control">
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="price "  class="col-md-12">Prix</label>
                                                                        <div class="col-md-12">
                                                                            <input type="number" name="price" value="{{ line.price }}" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="refTax"  class="col-md-12">Taxes</label>
                                                                        <div class="col-md-12">
                                                                            <select name="refTax" class="form-control">
                                                                                <option value="">Veuillez choisir une taxe</option>
                                                                                {% for tax in taxes %}
                                                                                    <option value="{{ tax.id }}">{{ tax.name }} ({{ tax.percent }}%)</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ">
                                                                    <div class="form-group row">
                                                                        <label for="estimated_time"  class="col-md-12">Temps estimé</label>
                                                                        <div class="col-md-12">
                                                                            <input type="number" name="estimated_time" value="{{ line.estimatedTime }}" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="chrono_time"  class="col-md-12">Temps passé</label>
                                                                        <div class="col-md-12">
                                                                            <input type="number" name="chrono_time" value="{{ line.chronoTime }}" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label for="deadLine"  class="col-md-12">Délai</label>
                                                                        <div class="col-md-12">
                                                                            <input type="text" class="datepick form-control" name="deadLine" value="{{ line.deadLine|date('d/m/Y') }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <input type="submit" class="btn btn-success btn-outline" value="Modifier">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ line.quantity }}
                                        {% if line.quantity > 1 %}
                                            <br/>
                                            <button type="button" data-toggle="modal" data-target="#splitLine{{ line.id }}Modal" class="btn btn-success btn-outline">
                                                Découper la tâche <i class="fa fa-cut"></i>
                                            </button>
                                            <div class="modal fade" id="splitLine{{ line.id }}Modal" tabindex="-1" role="dialog"
                                                 aria-labelledby="splitLine{{ line.id }}ModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title text-center" id="splitLine{{ line.id }}ModalLabel">Découper une ligne</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="well">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <form action="" method="post" class="text-right">
                                                                            <input type="hidden" name="id_line" value="{{ line.id }}">
                                                                            <input type="range" min="1" max="{{ line.quantity - 1 }}" value="1" name="split" id="line{{ line.id }}Slider"
                                                                                   oninput="line{{ line.id }}SliderValue.value = line{{ line.id }}Slider.value">
                                                                            <output class="text-center" type="text" id="line{{ line.id }}SliderValue" value="">1</output>
                                                                            <input type="submit" class="btn btn-success btn-outline" value="Découper la tâche">
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if line.price %}
                                            <span>{{ line.price * 1 }}€ x {{ line.quantity }}</span> = <span>{{ line.price * line.quantity }}€</span>
                                            {% set value = value + line.price * line.quantity %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span>Estimé : {{ line.estimatedTime * line.quantity }}h</span>
                                        <br/>
                                        <span>Chronométré : {% if  line.chronoTime is not null %}{{ line.chronoTime }}{% else %}0{% endif %} h</span>
                                    </td>
                                    <td>
                                        {% if line.deadLine %}
                                            <span>{{ line.deadline|date('d/m/Y') }}</span>
                                            <br/>
                                            {% if leftDays <= 7 %}
                                                <span class="btn btn-danger btn-outline">
                                                reste {{ leftDays }} jours
                                                </span>
                                            {% elseif leftDays <= 14 %}
                                                <span class="btn btn-warning btn-outline">
                                                reste {{ leftDays }} jours
                                                </span>
                                            {% else %}
                                                <span class="btn btn-info btn-outline">
                                                reste {{ leftDays }} jours
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    <td>
                                        {% if line.status == "planned" %}
                                            <span class="blue-text">{{ status_fr[line.status] }}</span>
                                            <br/>
                                            <a class="btn btn-warning btn-outline"
                                               href="{{ path('billandgo_project_line_edit_status',
                                                   {'id' : project.id, 'id_line' : line.id, 'status' : 'working'}) }}"
                                            >
                                                Démarrer la tâche
                                            </a>
                                        {% elseif line.status == "working" %}
                                            <span class="red-text">{{ status_fr[line.status] }}</span>
                                            <br/>
                                            <a class="btn btn-success btn-outline"
                                               href="{{ path('billandgo_project_line_edit_status',
                                                   {'id' : project.id, 'id_line' : line.id, 'status' : 'waiting'}) }}"
                                            >
                                                Terminée la tâche
                                            </a>
                                        {% elseif line.status == "waiting" %}
                                            <span class="green-text">{{ status_fr[line.status] }}</span>
                                            <br/>
                                            <a class="btn btn-danger btn-outline"
                                               href="{{ path('billandgo_project_line_edit_status',
                                                   {'id' : project.id, 'id_line' : line.id, 'status' : 'working'}) }}"
                                            >
                                                Revoir la tâche
                                            </a>
                                            <a class="btn btn-success btn-outline"
                                               href="{{ path('billandgo_project_line_edit_status',
                                                   {'id' : project.id, 'id_line' : line.id, 'status' : 'validated'}) }}"
                                            >
                                                Valider la tâche
                                            </a>
                                        {% else %}
                                            <span class="green-text">{{ status_fr[line.status] }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if line.status == "canceled" %}
                                            <a href="{{ path('billandgo_project_line_edit_status',
                                                {'id' : project.id, 'id_line' : line.id, 'status' : 'planned'}) }}"
                                               title="rétablir" class="btn btn-success btn-outline">
                                                <i class="fa fa-toggle-off text-success"></i>
                                                Rétalir
                                            </a>

                                            <a href="{{ path('billandgo_line_detach_project', {'id': line.id}) }}" class="btn btn-danger btn-outline">
                                                <i class="fa fa-trash text-danger"></i>
                                                Supprimer
                                            </a>
                                        {% else %}
                                            <a href="{{ path('billandgo_project_line_edit_status',
                                                {'id' : project.id, 'id_line' : line.id, 'status' : 'canceled'}) }}"
                                               title="annuler" class="btn btn-danger btn-outline">
                                                <i class="fa fa-toggle-on text-danger"></i>
                                                Annuler
                                            </a>
                                        {% endif %}
                                        {% if line.refEstimate|first %}
                                            <br/>
                                            <a class="btn btn-info btn-outline" href="{{ path("billandgo_document_view", {"id" : line.refEstimate|first.id}) }}" >
                                                Voir le devis {{ line.refEstimate|first.number }}
                                            </a>
                                        {% endif %}
                                        {% if line.refBill|first %}
                                            <br/>
                                            <a class="btn btn-info btn-outline" href="{{ path("billandgo_document_view", {"id" : line.refBill|first.id}) }}" >
                                                Voir la facture {{ line.refBill|first.number }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <h4>Vous n'avez pas de tâche actuellement</h4>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Nom</th>
                                <th>Quantité</th>
                                <th>Prix HT</th>
                                <th>Temps</th>
                                <th>Date de rendu</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success btn-outline" data-toggle="modal" data-target="#addLineModal">
                                Ajouter une tâche
                            </button>
                            <div class="modal fade" id="addLineModal" tabindex="-1" role="dialog" aria-labelledby="addLineModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-center" id="exampleModalLabel">Ajouter une tâche</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include("BillAndGoBundle:Devis:formline.html.twig") }}
                                            <!--
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        {# form(form) #}
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBillLinesModal" id="transfoButton">
                                Transformer les lignes sélectionnées en facture
                            </button>
                            <div class="modal fade text-left" id="createBillLinesModal" tabindex="-1" role="dialog" aria-labelledby="createBillLinesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-center" id="createBillLinesModalLabel">Créer un facture</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{{ path('billandgo_bill_create_from_lines') }}" id="createBill">
                                                <input type="hidden" name="estimate" value="{{ project.id }}">
                                                <div class="form-group">
                                                    <label class="control-label required" for="name">Description :</label>
                                                    <input class="form-control" type="text" name="description" value="{{ project.description }}">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label required" for="name">Date limite de paiement :</label>
                                                    <input id="bill_delay_2" class="form-control datepick" type="text" name="deadline">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn-default btn btn-success btn-outline" value="Créer une facture">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-danger btn-outline" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Résumé</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if timeDone + timeLeft > 0 %}
                        <h4>Progression du projet</h4>

                        <p>{{ timeDone }} h travaillé sur {{ timeDone + timeLeft }} h </p>
                        <div class="progress progress-mod">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ (timeDone / (timeDone + timeLeft) * 100) | round }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (timeDone / (timeDone + timeLeft) * 100) | round}}%">
                                <span class="prg-b">{{ (timeDone / (timeDone + timeLeft) * 100) | round}}%</span>
                            </div>
                        </div>
                    {% endif %}
                    <p>
                        Valeur du projet : {{ value }}€ HT
                        {% if timeDone + timeLeft > 0 %}
                            , soit {{ (value / (timeDone + timeLeft))|round() }}€/h
                            dont {{ (timeDone / (timeDone + timeLeft) * value) | round}}€ validés
                        {% endif %}
                    </p>


                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer">
                    <div>/* détails et classement par date à venir*/</div>
                </div>-->
            </div>

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#table_todo").DataTable(
                {
                    paging: false,
                    "order": [[ 3, "asc" ]]
                }
            );
        });

        $(".edit-desc").click(function () {
            $(".form-desc-edited").show();
            $(".edit-desc").hide();
        });

        $(".canceled-desc-edit").click(function () {
            $(".form-desc-edited").hide();
            $(".edit-desc").show();
        });

        $(".save-desc-edit").click(function () {
            var q = $(".desc-edited").val();
            $.ajax({
                url : "{{ path('billandgo_project_edit_save', {"id": project.id}) }}",
                type : 'POST',
                data: {desc : q},
                success : function(data, statut){ // success est toujours en place, bien sûr !
                    $("#pdescription").html(q);
                    $(".form-desc-edited").hide();
                    $(".edit-desc").show();
                },

                error : function(resultat, statut, erreur){
                }
            });
        });

        $('#billandgobundle_line_deadline').datepicker(
            {
                language: 'fr',
                autoclose: true,
                todayHighlight: true
            }
        );
        $('.datepick').datepicker();
        $('#bill_creation').datepicker();
        $('#bill_paiment').datepicker();
        $("#transfoButton").hide();
        linechecked = 0;
        $('.select-line').click(function(){
            if (this.checked) {
                $("#transfoButton").show();
                $(this).parent().children(".hidden").prop("checked", true);
                linechecked++;
            }
            else {
                $(this).parent().children(".hidden").prop("checked", false);
                linechecked--;
                if (linechecked < 1) {
                    linechecked = 0;
                    $("#transfoButton").hide();
                }
            }
        });
        nowDate = new Date();
        nowDate.setMonth((nowDate.getMonth() + 1)%12);
        delayDate = new Date(nowDate.getFullYear(), nowDate.getMonth() + 1, 0);
        $('#bill_delay').datepicker('setDate', delayDate);
        $('#bill_delay_2').datepicker('setDate', delayDate);

        //list of github repo
        $('#dropdownGitRepo').click(function () {
            if ($('#gitList>li').length < 1) {
                $.getJSON("{{ path('billandgo_project_list_repo', {'id': project.id}) }}", function (data) {
                    $.each(data, function (key, val) {
                        $('#gitList').append(
                            '<li class="item">\n' +
                            '                                            <div class="product-img">\n' +
                            '                                                <i class="fa fa-github"></i>\n' +
                            '                                            </div>\n' +
                            '                                            <div class="product-info">\n' +
                            '                                                <div  class="product-title">' +
                                '<form method="POST" action="{{ path('billandgo_project_set_repo', {'id': project.id}) }}">' +
                                    '<input type="hidden" name="name" value="' + val.full_name + '">' +
                                    '<input class="btn btn-success btn-outline" type="submit" value="' + val.name +'">' +
                                '</form></div></div>' +
                            '</li>'
                        );
                    });
                });
            }
        });
    </script>
{% endblock %}