{% extends "MyJobManagerBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Liste des projets{% endblock %}

{% block fos_user_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                PROJETS
                <small>Liste des Projets</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-industry"></i> Projets</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Vos Projets</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        {% set nbproject = 0 %}
                        {% set totalValue = 0 %}
                        {% set totalTimeLeft = 0 %}
                        {% set totalTimeDone = 0 %}
                        {% for project in list %}
                            {% set nbproject = nbproject + 1 %}
                            {% set difference = date(project.deadLine).diff(date()) %}
                            {% set leftDays = difference.days %}
                            {% set timeLeft = 0 %}
                            {% set timeDone = 0 %}
                            {% set value = 0 %}
                            {% for todo in project.refLines %}
                                {% if todo.status == "planned" %}
                                    {% set timeLeft = timeLeft + todo.estimatedTime * todo.quantity %}
                                {% else %}
                                    {% set timeDone = timeDone + todo.estimatedTime * todo.quantity %}
                                {% endif %}
                                {% set value = value + todo.price * todo.quantity %}
                            {% endfor %}
                            <div class="col-md-6 col-lg-4 text-center third-block">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>
                                            {{ project.name }}
                                            <a href="{{ path('myjobmanager_project_view', {'id': project.id}) }}">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-justified">
                                            <li class="active">
                                                <a data-toggle="tab" href="#bill-{{ nbproject }}-desc">
                                                    Description
                                                    <br/>
                                                    ({{ value }}€)
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#bill-{{ nbproject }}-cli">
                                                    Client
                                                    <br/>
                                                    ({{ project.refClient.companyName }})
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#bill-{{ nbproject }}-todo">
                                                    TODO
                                                    <br/>
                                                    ({{ timeDone }}/{{ timeDone + timeLeft }}h)
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div id="bill-{{ nbproject }}-desc" class="tab-pane fade in active bg-info">
                                            <p class="col-md-6">commencé le {{ project.begin|date('d-m-Y') }}</p>
                                            <p class="col-md-6">à terminer le {{ project.deadLine|date('d-m-Y') }}</p>
                                            <p>Valeur : <span style="font-weight: bold;">{{ value }}€</span></p>
                                            <p>

                                                {{ project.description|length > 300 ? project.description|slice(0, 300) ~ '...' : project.description  }}
                                            </p>
                                        </div>
                                        <div id="bill-{{ nbproject }}-cli" class="tab-pane fade bg-info">
                                            <a href="{{ path('myjobmanager_clients_view', {'id': project.refClient.id}) }}">{{ project.refClient.companyName }}</a>
                                            <p>/* contacts et rdv à venir */</p>
                                        </div>
                                        <div id="bill-{{ nbproject }}-todo" class="tab-pane fade bg-info">
                                            {% if timeDone + timeLeft > 0 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ (timeDone / (timeDone + timeLeft) * 100) | round}}" aria-valuemin="0" aria-valuemax="" style="width: {{ (timeDone / (timeDone + timeLeft) * 100) | round}}%">
                                                    <span>{{ timeDone }}/{{ timeDone + timeLeft }}h ({{ (timeDone / (timeDone + timeLeft) * 100) | round }}%)</span>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <p>
                                                Jours restant : <span class="badge bg-green" style="font-weight: bold;">{{ leftDays }}</span>
                                            </p>
                                            <p>
                                                /* A venir : évaluation de la faisabilité en fonction de la charge de travail, des autres projets, du temps moyen de travail... */
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% set totalValue = totalValue + value %}
                            {% set totalTimeLeft = totalTimeLeft + timeLeft %}
                            {% set totalTimeDone = totalTimeDone + timeDone %}
                        {% else %}
                            <div class="callout callout-info col-md-12">
                                <h4> <i class="fa fa-warning"></i> Aucun projets d'enregistrés <i class="fa fa-warning"></i> </h4>
                                <p>Vous n'avez pas encore saisi de projets, ne perdez pas de temps, <a href="#">Ajoutez votre premier projet</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-center">
                        <a href="{{ path('myjobmanager_project_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> Ajouter un projet</a>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Résumé</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if totalTimeDone + totalTimeLeft > 0 %}
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ (totalTimeDone / (totalTimeDone + totalTimeLeft) * 100) | round }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (totalTimeDone / (totalTimeDone + totalTimeLeft) * 100) | round}}%">
                                <span>{{ totalTimeDone }}/{{ totalTimeDone + totalTimeLeft }}h ({{ (totalTimeDone / (totalTimeDone + totalTimeLeft) * 100) | round}}%)</span>
                            </div>
                        </div>
                        <p>
                            Charge de travail restante : <span class="badge bg-red" style="font-weight: bold;">{{ totalTimeLeft }}h</span>
                        </p>
                        <p>
                            Valeur des projets en cours : <span class="badge bg-green" style="font-weight: bold;">{{ totalValue }}€</span><br/>
                            pour {{ totalTimeDone + totalTimeLeft }}h, soit <span class="badge bg-green" style="font-weight: bold;">{{ totalValue / (totalTimeDone + totalTimeLeft)}}€/h</span>
                        </p>
                    {% else %}
                        Total de travail : 0h... Il va falloir trouver du boulot...
                    {% endif %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div>/* détails et classement par date à venir*/</div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


{% endblock fos_user_content %}