{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Nouveau Paiement{% endblock %}

{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Paiement
                <small>Ajouter un nouveau paiement</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{{ path('billandgo_bill_list') }}"><i class="fa fa-align-left"></i> Paiements</a></li>
                <li class="active"><i class="fa fa-plus"></i> Ajout</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 onlick column-link" onclick="location.href='{{ path('billandgo_paiment_index') }}'">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-backward"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text"><strong>Liste des paiements</strong></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div>


            <div class="row">
                <div class="col-md-12">

                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow" style="background: url('{{ asset('bundles/billandgo/img/bill.jpg') }}') center center;">
                            <div class="widget-user-image" style="margin-top: -35px;">
                                <i class="fa fa-euro fa-3x ppdashbboard"></i>
                            </div>
                            <!-- /.widget-user-image -->
                            <h5 class="widget-user-username">Nouveau</h5>
                            <h5 class="widget-user-desc">Paiement</h5>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                {{ include("BillAndGoBundle:Paiment:form.html.twig") }}
                            </div>


                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $('#billandgobundle_paiment_datePaiment').datepicker();
    </script>
{% endblock %}