{# form(form) #}

    {{ form_start(form, {'attr': {'class': ''}}) }}
    {{ form_errors(form) }}
        <div class="col-md-6">
            <div class="form-group " id="paiment_modal_bill">
                {{ form_label(form.refBill, "Facture :", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.refBill) }}
                {{ form_widget(form.refBill, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-6">
    <div class="form-group" id="paiment_modal_amount">
        {{ form_label(form.amount, "Montant", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.amount) }}
        {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
    </div>
        </div>
<div class="col-md-6">
    <div class="form-group" id="paiment_modal_datePaiment">
        {{ form_label(form.datePaiment, "Date de paiement :", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.datePaiment) }}
        {{ form_widget(form.datePaiment, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-md-6">
    <div class="form-group" id="paiment_modal_mode">
        {{ form_label(form.mode, "Mode de paiement :", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.mode) }}
        {{ form_widget(form.mode, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="col-md-12 center-block">
    <div class="form-group text-center" id="project_modal_submit">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-outline btn-lg'}}) }}
    </div>
</div>
    {{ form_rest(form) }}
    {{ form_end(form) }}


</div>