{% extends "BillAndGoBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Liste des Paiements{% endblock %}


{% block fos_user_content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Paiements
                <small>Liste des paiements</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-file-text-o"></i> Paiements</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Vos Paiements</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <p class="text-center"><i>/* A venir : filtres*/</i></p>
                        {% set nbPaiments = 0 %}
                        {% set total = 0 %}
                        {% for paiment in paiments %}
                            {% set total = total + paiment.amount %}
                            {% set nbPaiments = nbPaiments + 1 %}
                            <div class="col-md-6 col-lg-4 text-center">
                                <div class="well">
                                    <h3>
                                        <a href="{{ path('billandgo_paiment_show', { 'id': paiment.id }) }}">{{ paiment.amount }}€</a>
                                    </h3>
                                    <p>{% if paiment.datePaiment %}{{ paiment.datePaiment|date('Y-m-d') }}{% endif %}</p>
                                    <p>{{ paiment.mode }}</p>
                                    <p>
                                        {% if paiment.refBill|first %}
                                            <a href="{{ path('billandgo_document_view', {'id' : paiment.refBill|first.id}) }}">{{ paiment.refBill|first.number }}</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-12">
                                <div class="callout callout-warning text-center">
                                    <h4> <i class="fa fa-warning"></i> Aucun paiment enregistré <i class="fa fa-warning"></i> </h4>
                                    <p>
                                        Vous n'avez pas encore saisi de paiment, ne perdez pas de temps,
                                        <a href="{{ path('billandgo_paiment_add') }}">Ajoutez votre premier paiment</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-center">
                        <a href="{{ path('billandgo_paiment_add') }}" class="btn btn-success">
                            <i class="fa fa-plus"></i> Ajouter un paiment
                        </a>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Résumé</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div> Total : <span class="badge bg-green">{{ total }}€</span></div>
                        <div> Nombres de paiements : {{ nbPaiments }}</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock fos_user_content %}
