{% trans_default_domain 'FOSUserBundle' %}

<div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>

<div id="slideBox">
    <div class="topLayer">

        <div class="left">
        </div>
        <div class="right">
            <div class="center-block">
                <a class="center" href="/" >
                    <img src="{{ asset('bundles/billandgo/img/billgo-horizontal.png') }}" width="150" >
                </a>
            </div>
            <div class="content">

                <div class="login-box-body">
                    <p class="login-box-msg"><strong>Réinitialisez votre mot de passe Bill&Go</strong></p>
                    <p class="login-box-message"><small>Veuillez indiquer votre adresse e-mail afin de réinitialiser votre mot de passe</small></p>



                </div>
                <div class="login-box-body onhide">
                    <p class="login-box-msg"><strong>Parfait !</strong></p>
                    <p class="login-box-message"><small>Si vous avez un compte sur Bill&Go, vous recevrez un e-mail afin que vous puissiez réinitialiser votre mot de passe </small></p>

                </div>
                <form action="{{ path("fos_user_resetting_send_email") }}" method="post" id="form">

                    <div class="form-group">

                        <input type="email" class="form-control" id="username" placeholder="Adresse e-mail" name="username" required="required" />
                    </div>
                    <button type="submit" >Réinitialiser</button>
                </form>
                <div class="row">
                    <div class="col-xs-12 text-center a-padd">
                        <a href="{{ path('fos_user_registration_register') }}" class="forgot-pass btn btn-outline"><small>Pas encore inscrit ?</small></a>
                        <a href="{{ path('fos_user_security_login') }}" class="forgot-pass btn btn-outline"><small>Déjà un compte ?</small></a>
                    </div>
                </div>
            </div>

            <footer class="text-right login-footer">
                <br>
                <small>Copyright &copy; {{ "now"|date("Y") }} - Bill&Go. Tous droits réservés. Bill&Go est un produit <a href="https://www.iumio.com">iumio</a></small> - <a href="{{ path('billandgo_ml') }}" target="_blank">Mentions légales et Politiques de confidentialités</a>
            </footer>
        </div>

    </div>
</div>
